<!DOCTYPE html>
<html ng-app="app" lang="th">
<head>
  <base href="https://www.bu.ac.th/">
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta name='author' content='Bangkok University'>
  <title>Pre-degree Program - Pre-degree Program มหาวิทยาลัยกรุงเทพ</title>
  <!-- Open Graph -->
  <meta property='og:url' content='https://www.bu.ac.th/th/pre-degree'>
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Pre-degree Program - Pre-degree Program มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:image' content='https://www.bu.ac.th/uploads/seo/default.png'>
  <meta property='og:site_name' content='Bangkok University'>
  <!— Twitter —>
  <meta name='twitter:card' content='website'>
  <meta name='twitter:site' content='@Bangkok_BU'>
  <meta name='twitter:creator' content='@Bangkok_BU'>
  <meta name='twitter:title' content='Pre-degree Program - Pre-degree Program มหาวิทยาลัยกรุงเทพ'>
  <meta name='twitter:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
      <link rel="stylesheet" href="./vendors/bootstrap-3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="./vendors/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./vendors/animate/css/animate.css">
      <link rel="stylesheet" href="./vendors/fonts/Karnvayla/stylesheet.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/ladda/ladda-themeless.min.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/sweetalert/sweetalert.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/style-main.css">
      <link rel="stylesheet" href="./vendors/hamburger-toggle/css/style.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.theme.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="./vendors/ionicons-2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="./assets/main/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/main/index.css">
      <link rel="stylesheet" href="./assets/faculty/css/main/inc_index.css?2">
      <link rel="stylesheet" href="./assets/faculty/css/main/pre-degree.css?0">
        <link rel="shortcut icon" href="favicon.ico" />
          <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.2&appId=1120425418117270"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42914512-1', 'bu.ac.th');
  ga('send', 'pageview');
</script>
<!-- /Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBGBMXC');</script>
<!-- End Google Tag Manager -->
</head>
<body class="white-bg">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGBMXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="fb-root"></div>
  <div id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="logo-bu-horizontal">
        <a href="./">
          <picture>
            <source media="(min-width: 1920px)" srcset="./assets/images/logo-bu-white-horizontal.png">
            <img src="./assets/images/logoBU_w500.png" height="70px"alt="มหาวิทยาลัยกรุงเทพ" style="width: auto;">
          </picture>
        </a>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div class="form-inline m-t-md">
          <ul class="list-inline pull-right no-margins">
            <li>
              <form class="" action="./th/search" method="get" autocomplete="off">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                  <span class="input-group-btn">
                    <button class="btn btn-default no-rounds" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-menu-bg">
<img class="header-menu-bg-img" src="./assets/main/images/resize-bg-header2.png" >
</div>
<div id="menu-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default no-margins" id="bu-bootstrap-menu">
          <div class="container">
            <ul class="list-inline visible-xs  pull-right list-right">
              <li><a href="javascript:void()"; onclick="$('#collapse-main-search').toggle();" class="icon-search-small"><i class="fa fa-search"></i></a></li>
            </ul>
            <div class="navbar-header">
              <a class="btn-navbar visible-xs" id="nav-icon"><i class="fa fa-bars"></i></a>
              <a class="navbar-brand hidden-xs" href="./"><img src="./assets/main/images/icon-home.png"></a>
            </div>
                        <a href="http://bit.ly/admission-bu-pre-degree" class="btn btn-apply-now btn-rounds visible-xs" target="_blank">สมัครเรียน</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav border-after">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">หลักสูตร</a>
                  <div class="dropdown-menu full-width">
                                        <div class="row menu-box">
                      <div class="col-md-3 col-sm-3">
                        <a href="./th/curriculum/bachelors-degree" class="box box-1"><div class="text">ปริญญาตรี</div></a>
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <a href="./en/curriculum/international-programs" class="box box-2"><div class="text">International Programs</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/pre-degree" class="box box-8"><div class="text">Pre-degree</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/tuition-fees" class="box box-3"><div class="text">ค่าเล่าเรียน</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/scholarships" class="box box-4"><div class="text">ทุนการศึกษา</div></a>
                      </div>
                    </div>
                    <div class="row menu-box">
                      <div class="col-sm-3">
                        <a href="./th/curriculum/masters-degree" class="box box-5"><div class="text">ปริญญาโท</div></a>
                      </div>
                      <div class="col-sm-3">
                        <a href="./th/curriculum/doctoral-degree" class="box box-6"><div class="text">ปริญญาเอก</div></a>
                      </div>
                                            <div class="col-sm-3">
                        <a href="./th/buci" class="box box-7"><div class="text">หลักสูตรนานาชาติจีน</div></a>
                      </div>
                      <div class="col-sm-3">
                          <a href="./th/short-courses" class="box box-8">
                              <div class="text">
                                  อบรม/ประกาศนียบัตร                              </div>
                          </a>
                                                </div>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" onclick="$('#dropdown-menu-header .collapse').collapse('hide');" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
                  <div class="dropdown-menu full-width row bg-676e77" id="dropdown-menu-header">
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">รู้จัก ม.กรุงเทพ</h3>
                      <ul class="list-unstyled m-b-sm">
                                                  <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000052').collapse('toggle');" ng-click="$event.stopPropagation();">ข่าวสาร <i class="fa fa-angle-down"></i></a></li>
                          <li class="collapse" id="collapseMain_00000052">
                            <ul class="list-unstyled">
                              <li><a href="th/corporate-news">&emsp;<i class="fa fa-angle-right"></i> Corporate News</a></li>
                              <li><a href="th/bu-magazine">&emsp;<i class="fa fa-angle-right"></i> BU Story</a></li>
                              <li><a href="th/news-clipping">&emsp;<i class="fa fa-angle-right"></i> News Clippings</a></li>
                            </ul>
                          </li>
                                                <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000057').collapse('toggle');" ng-click="$event.stopPropagation();">ชีวิตนักศึกษา <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000057">
                          <ul class="list-unstyled">
                                                          <li><a href="th/accommodation">&emsp;<i class="fa fa-angle-right"></i> หอพักนักศึกษา</a></li>
                                                        <li><a href="th/activities-clubs/sports">&emsp;<i class="fa fa-angle-right"></i> กีฬา/สโมสร/ชมรม</a></li>
                            <li><a href="th/facilities">&emsp;<i class="fa fa-angle-right"></i> สิ่งอำนวยความสะดวก</a></li>
                                                                                      <li><a href="th/service-centers">&emsp;<i class="fa fa-angle-right"></i> ศูนย์บริการ</a></li>
                                                                                  </ul>
                        </li>
                        <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000139').collapse('toggle');" ng-click="$event.stopPropagation();">ศิลปวัฒนธรรม <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000139">
                          <ul class="list-unstyled">
                            <li><a href="http://katin3.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> กฐินพระราชทาน</a></li>
                            <li><a href="http://museum.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
                            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">&emsp;<i class="fa fa-angle-right"></i> หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                            
                                                      </ul>
                        </li>
                        <li><a href="./th/excellence-center">ศูนย์แห่งความเป็นเลิศ</a></li>
                                                  <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
                          <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                                              </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">เกี่ยวกับมหาวิทยาลัย</h3>
                      <ul class="list-unstyled m-b-sm">
                          <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
                                                  <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
                                                <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
                        <li><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000077').collapse('toggle');" ng-click="$event.stopPropagation();">คณะผู้บริหาร <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000077">
                          <ul class="list-unstyled">
                            <li><a href="./th/council-committees">&emsp;<i class="fa fa-angle-right"></i> สภามหาวิทยาลัย</a></li>
                            <li><a href="./th/executives">&emsp;<i class="fa fa-angle-right"></i> คณะผู้บริหาร</a></li>
                          </ul>
                        </li>
                        <li><a href="./th/partner-networks">พันธมิตร</a></li>
                                                  <li><a href="./th/alumni">ศิษย์เก่า</a></li>
                                                <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
                        <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">คุณคือใคร?</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/who-are-you/student/">นักศึกษา</a></li>
                        <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
                        <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
                        <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">ติดต่อเรา</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/contact">ติดต่อเรา</a></li>
                        <!-- <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li> -->
                                                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                                                <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                        <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://bit.ly/admission-bu-pre-degree" class="btn btn-apply-now btn-rounds" target="_blank">สมัครเรียน</a></li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="collapse-main-search">
            <form autocomplete="off" action="./thsearch" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- End Modal -->      <div class="header-faculty">
      <div class="header-faculty-cover">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-faculty-logo animated fadeIn ">
                <a href="./th/pre-degree">
                  <img src="./uploads/faculty/logo/lMe2918iHh9U5G3-white.png" 
                  class="cover-faculty-pre-degree" >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
              </div>
  <section id="body">
  <div id="index" ng-controller="index" ng-init="init();">
    <div class="parallax">
      <div class="container bg__white">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="./th"><i class="fa fa-home"></i> หน้าหลัก</a></li>
              <li class="active">Pre-degree Program</li>
            </ol>
          </div>
        </div>

        <div class="row">
          <!-- Detail Default -->
                      <div class="col-xs-12">
              <div class="text-center m-b-md">
                <h1>Pre-degree Program</h1>
              </div>

              <div class="fac-homepage-descript"><center>
<p><img src="./uploads/files/1618836559_EULTXIEHFX.png" style="width: 85%" /></p>
</center>

<p>&nbsp;</p>

<p>&nbsp; &nbsp; &nbsp;เนื่องจากสถานการณ์การแพร่ระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 (COVID-19) มีแนวโน้มว่าจะทวีความรุนแรงมากขึ้น จึงจำเป็นต้องเลื่อนการจัดการเรียนการสอนคอร์ส &ldquo;การออกแบบคอนเสิร์ต (Concert Design)&rdquo; ในโครงการเรียนล่วงหน้ากับคณะนิเทศศาสตร์ ในวันที่ 1-2 พฤษภาคม 2564 ออกไปก่อน&nbsp;<br />
&bull;&nbsp;&nbsp; &nbsp;สาเหตุที่เลื่อนเพื่อลดความเสี่ยงในการแพร่ระบาดของโรคและเพื่อรักษาสุขอนามัยของผู้เรียน&nbsp;<br />
&bull;&nbsp;&nbsp; &nbsp;เลื่อนการจัดการเรียนการสอนไปในเดือนตุลาคม 2564 หรือจนกว่าสถานการณ์จะคลี่คลาย ทั้งนี้ทางมหาวิทยาลัยจะแจ้งวัน-เวลาและกำหนดการใหม่ให้ทราบในโอกาสต่อไป<br />
&bull;&nbsp;&nbsp; &nbsp;ในกรณีผู้สมัครที่ลงทะเบียนเรียนและชำระค่าเล่าเรียนไปแล้ว จะมีเจ้าหน้าที่ของฝ่ายรับสมัครนักศึกษา มหาวิทยาลัยกรุงเทพ ติดต่อแจ้งข้อมูลให้กับทุกคน&nbsp;<br />
&bull;&nbsp;&nbsp; &nbsp;อย่างไรก็ตาม หากมหาวิทยาลัยได้แจ้งกำหนดการจัดการเรียนสอนใหม่ แต่ผู้สมัครไม่สะดวกที่จะเข้าเรียนตามกำหนดการใหม่ดังกล่าว ผู้สมัครก็ยังคงสามารถยกเลิกการลงทะเบียนเรียนและขอรับค่าเล่าเรียนคืนเต็มจำนวนได้เช่นกัน &nbsp; &nbsp;<br />
&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><meta charset="utf-8" /></p>

<p><strong>โครงการเรียนล่วงหน้า (Pre-degree Program) คืออะไร</strong><br />
&nbsp;&nbsp; &nbsp;เป็นโครงการที่เปิดโอกาสให้นักเรียนระดับชั้นมัธยมศึกษาปีที่ 4-6 (หรือเทียบเท่า) มาลงทะเบียนเรียนเนื้อหาวิชาระดับปริญญาตรี มหาวิทยาลัยกรุงเทพ ล่วงหน้า เมื่อเรียนครบตามกฎเกณฑ์แล้ว ก็จะสามารถเก็บหน่วยกิตของวิชาที่เรียนนั้นไว้ในคลังหน่วยกิต (Credit Bank) เพื่อทำการเทียบโอน โดยไม่จำเป็นต้องลงทะเบียนเรียนวิชาที่เรียนล่วงหน้าไปแล้วนั้นอีก ในกรณีที่ผู้เรียนมาศึกษาต่อระดับปริญญาตรี มหาวิทยาลัยกรุงเทพ ด้วยเหตุนี้ผู้เรียนจึงมีโอกาสสำเร็จการศึกษาระดับปริญญาตรีเร็วขึ้น เพราะได้เรียนล่วงหน้าไปตั้งแต่มัธยมปลายแล้วนั่นเอง&nbsp;<br />
&nbsp;&nbsp; &nbsp;ทั้งนี้ไม่มีข้อผูกมัดหรือข้อบังคับใดๆ ทั้งสิ้นว่า ผู้เรียนในโครงการเรียนล่วงหน้าจะต้องศึกษาต่อระดับปริญญาตรี มหาวิทยาลัยกรุงเทพ เท่านั้น ดังนั้นผู้ที่ต้องการเรียนรู้เพื่อเพิ่มพูนความรู้และทักษะ ก็สามารถลงทะเบียนเรียนในโครงการเรียนล่วงหน้านี้ได้ด้วยเช่นกัน</p>

<p>&nbsp;</p>

<p><br />
<strong>รูปแบบการเรียนรู้</strong><br />
&nbsp;&nbsp; &nbsp;การเรียนรู้ในโครงการนี้จัดทำเป็นลักษณะโมดูล (Module) โดยจะจัดการเรียนการสอนในรูปแบบออฟไลน์และออนไลน์ แบบใดแบบหนึ่ง และ/หรือแบบผสมผสาน (ตามความเหมาะสมของสถานการณ์และเนื้อหาวิชานั้นๆ) รวมทั้งการศึกษาค้นคว้าด้วยตัวเองตามคำแนะนำของผู้สอน และมีโอกาสเรียนรู้กับวิทยากรชื่อดัง ซึ่งรายละเอียดและตารางเรียนจะแตกต่างกันไปตามแต่ละโมดูล</p>

<p>&nbsp;</p>

<p><br />
<strong>&ldquo;โมดูล&rdquo; คืออะไร&nbsp;</strong><br />
&nbsp;&nbsp; &nbsp;โมดูลคือการนำเนื้อหารายวิชาต่างๆ มาแยกย่อยให้มีความเฉพาะทาง โดย 1 โมดูลเทียบเท่ากับ 1 หน่วยกิต ซึ่งปกติแล้ว 1 รายวิชาจะประกอบไปด้วย 3 หน่วยกิต&nbsp;<br />
ดังนั้นในกรณีที่ผู้เรียนต้องการศึกษาต่อระดับปริญญาตรี มหาวิทยาลัยกรุงเทพ และจะเทียบโอนหน่วยกิต ผู้เรียนจะต้องเรียนให้ครบ 3 โมดูลของรายวิชาที่ต้องการเทียบโอนเท่านั้น และต้องสอบวัดผลในแต่ละโมดูลให้ผ่านเกณฑ์ตามที่มหาวิทยาลัยกำหนด จึงจะถือว่าเก็บหน่วยกิตได้ครบ 3 หน่วยกิต ซึ่งเทียบเท่ากับ 1 รายวิชา&nbsp;</p>

<p>&nbsp;</p>

<p><br />
<strong>โมดูลที่เปิดสอน</strong><br />
การออกแบบคอนเสิร์ต (Concert Design) โดยคณะนิเทศศาสตร์ มหาวิทยาลัยกรุงเทพ</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>สิ่งที่ผู้เรียนจะได้รับ</strong><br />
นอกจากสามารถเทียบโอนหน่วยกิตเมื่อมาศึกษาต่อระดับปริญญาตรี คณะนิเทศศาสตร์ มหาวิทยาลัยกรุงเทพ แล้ว ผู้เรียนทุกคนที่ลงทะเบียนเรียนในโครงการเรียนล่วงหน้า (ไม่ว่าจะตัดสินใจศึกษาต่อคณะนิเทศศาสตร์ มหาวิทยาลัยกรุงเทพ หรือไม่ก็ตาม) จะได้รับประกาศนียบัตรรับรองทักษะ&nbsp;<br />
สำหรับผู้เรียนที่ไม่ได้ศึกษาต่อระดับปริญญาตรี คณะนิเทศศาสตร์ มหาวิทยาลัยกรุงเทพ ในทันทีที่เรียนจบระดับมัธยมศึกษาตอนปลาย แต่มีความประสงค์จะศึกษาต่อระดับปริญญาตรี คณะนิเทศศาสตร์ มหาวิทยาลัยกรุงเทพ ในภายหลัง ก็สามารถเทียบโอนหน่วยกิตได้เช่นกัน เนื่องจากหน่วยกิตจะถูกเก็บไว้ในคลังหน่วยกิตเป็นเวลา 5 ปี นับจากวันที่ผู้เรียนเรียนโมดูลนั้นๆ จบ&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>คุณสมบัติของผู้สมัคร</strong><br />
กำลังศึกษาอยู่ชั้น ม.4 - ม.6 หรือเทียบเท่า</p>

<p>&nbsp;</p>

<p>สอบถามรายละเอียดเพิ่มเติม หรือสมัครเรียนได้ที่ ฝ่ายรับสมัคร โทร. 02 407 3888 ต่อ 2411-2417<br />
&nbsp;</p>
</div>
              
              <!-- icon -->
              <div class="row icon-pre-degree">
                                  <div class="col-md-offset-1 col-md-2 col-xs-6 card-icon-pre-degree">
                    <div class="card card-w-100">
                      <img src="./uploads/faculty/pre-degree-icon/property.jpg" width="70%" alt="" class="card-icon-pre-degree-img">
                      <div class="card-body wrap">
                          <div class="text-center"><p class="card-icon-pre-degree-text">สำหรับผู้ที่กำลังศึกษา<br>ในระดับชั้น ม.4 - ม.6<br>หรือเทียบเท่า</p ></div>
                      </div>
                    </div>
                  </div>
                                  <div class=" col-md-2 col-xs-6 card-icon-pre-degree">
                    <div class="card card-w-100">
                      <img src="./uploads/faculty/pre-degree-icon/certificate.jpg" width="70%" alt="" class="card-icon-pre-degree-img">
                      <div class="card-body wrap">
                          <div class="text-center"><p class="card-icon-pre-degree-text">ผู้เรียนทุกคนจะได้รับ<br>ใบประกาศนียบัตร</p ></div>
                      </div>
                    </div>
                  </div>
                                  <div class=" col-md-2 col-xs-6 card-icon-pre-degree">
                    <div class="card card-w-100">
                      <img src="./uploads/faculty/pre-degree-icon/credit.jpg" width="70%" alt="" class="card-icon-pre-degree-img">
                      <div class="card-body wrap">
                          <div class="text-center"><p class="card-icon-pre-degree-text">เมื่อเรียนครบ 3 หน่วยกิต<br>สามารถนำไปเทียบโอน<br>ได้ที่ ม.กรุงเทพ</p ></div>
                      </div>
                    </div>
                  </div>
                                  <div class=" col-md-2 col-xs-6 card-icon-pre-degree">
                    <div class="card card-w-100">
                      <img src="./uploads/faculty/pre-degree-icon/honor.jpg" width="70%" alt="" class="card-icon-pre-degree-img">
                      <div class="card-body wrap">
                          <div class="text-center"><p class="card-icon-pre-degree-text">เทียบโอน Pre-degree<br>ที่ ม.กรุงเทพสามารถ<br>รับเกียรตินิยมได้</p ></div>
                      </div>
                    </div>
                  </div>
                                  <div class=" col-md-2 col-xs-6 card-icon-pre-degree">
                    <div class="card card-w-100">
                      <img src="./uploads/faculty/pre-degree-icon/student.jpg" width="70%" alt="" class="card-icon-pre-degree-img">
                      <div class="card-body wrap">
                          <div class="text-center"><p class="card-icon-pre-degree-text">หน่วยกิตเก็บสะสม<br>ได้ถึง 5 ปี นับจาก<br>วันที่เรียนจบโมดูล</p ></div>
                      </div>
                    </div>
                  </div>
                              </div>
              <!-- end icon -->

              <div class="tabs-container m-b-lg">
                <ul class="nav nav-tabs">
                                      <li class="active"><a data-toggle="tab" href="#tab-department-degree-1" ng-click="gent_backstretch_dept();"><h3 class="no-margins">หลักสูตร</h3></a></li>
                                  </ul>
                <div class="tab-content">
                                      <div id="tab-department-degree-1" class="tab-pane active">
                      <div class="panel-body">
                        <div class=" owl-tab-department hidden-xs grid-departments">
                                                                                                              <div class="item item-department ">
                              <a href="./th/pre-degree/consert-design" target="_blank">
                                <div class="ibox">
                                  <div class="ibox-content product-box text-left">
                                    <div class="product-imitation box-background-department " id="dept-consert-design-Qe0FJ" data-background="./uploads/faculty/department/20210331150041_f7vSq90lh1YJPuK.jpg"></div>
                                    <div class="product-desc">
                                      <div class="product-name ">
                                        การออกแบบคอนเสิร์ต                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                                                  </div>
                        <div class="row visible-xs">
                                                                                                              <a href="./th/pre-degree/consert-design" target="_blank">
                              <div class="col-xs-12">
                                <div class="box-department-xs">
                                  <img class="cover-department" src="./uploads/faculty/department/20210331150041_f7vSq90lh1YJPuK.jpg" alt="การออกแบบคอนเสิร์ต">
                                  <div class="detail">
                                    <div class="name-department">การออกแบบคอนเสิร์ต</div>
                                  </div>
                                </div>
                              </div>
                            </a>
                                                  </div>
                      </div>
                    </div>
                                  </div>

              </div>
            </div>
            <!-- International Programs Template -->
          </div>

</div>
<!-- Section video -->
<div class="bg__transparent"style="background-image: url(./assets/faculty/images/bg-faculty-box-gray.jpg);">
  <div class="box-faculty-gray">


    <div class="container">
      <div class="box-content">
        <div class="box-header"></div>
        <div class="row no-margins">
          <div class="col-sm-6 no-padding">
            <div class="videoWrapper">
              <iframe  id="iframe-box-video" src="https://www.youtube.com/embed/xIWgEO6YeiY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="link-video-all">
              <a href="./th/pre-degree/videos"><i class="fa fa-list"></i> ดูวิดีโอทั้งหมด</a>
            </div>
            <div class="box-content-scotch">
              <div class="text">"เรียนรู้ล่วงหน้า ค้นหาตัวตน<br />
พร้อมลงมือทำจริง"</div>
            </div>
          </div>
          <div class="col-sm-6 no-padding">

            <div class="box-image-link-set">
                              <a href="./th/pre-degree/what-is-module">
                  <div class="box-image-link" data-bg="./uploads/faculty/highlight/20210331113809_QINB1N174B8VVAE_VK0R4FKKEW3SSNQ.jpg" id="box-image-link-2">
                    <div class="name">โมดูลคืออะไร</div>
                  </div>
                </a>
                              <a href="./th/pre-degree/learning-methodology">
                  <div class="box-image-link" data-bg="./uploads/faculty/highlight/20210331113847_82QAL5YKBMCOPIW_8WIBKRPWXTZ1GUZ.jpg" id="box-image-link-3">
                    <div class="name">รูปแบบการเรียนรู้</div>
                  </div>
                </a>
                              <a href="./th/pre-degree/benefit-of-learning">
                  <div class="box-image-link" data-bg="./uploads/faculty/highlight/20210331135242_8UWUF6XVMLZ1QT7_G8BTGFM9XCEUOVQ.jpg" id="box-image-link-4">
                    <div class="name">สิ่งที่ผู้เรียนจะได้รับ</div>
                  </div>
                </a>
                              <a href="./th/pre-degree/qualification">
                  <div class="box-image-link" data-bg="./uploads/faculty/highlight/20210331114021_HXR10JYE87KVJSV_BDJ99DPZNX3C6EX.jpg" id="box-image-link-5">
                    <div class="name">คุณสมบัติผู้สมัคร</div>
                  </div>
                </a>
                          </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Section Portfolios student and professor / News -->
<script>
  console.log('true')
</script>

  <!-- check if not has portfolio but has voice student -->
    <!-- end of check if not has portfolio but has voice student -->
  
<!-- Section Board of directors -->

<!-- Session Gallery -->
  <div class="bg__white">
    <div class="container section-gallery">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <div class="btn-group pull-right visible-sm visible-xs m-t-xxs">
              <a href="./th/pre-degree/gallery" class="btn btn-sm btn-default"><i class="fa fa-image"></i> ดูภาพทั้งหมด</a>
              <a href="http://virtualtour.bu.ac.th/" class="btn btn-sm btn-default"><i class="fa fa-camera"></i> ดูแบบ 360°</a>
            </div>
            <h1>แกลลอรี่</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="owl-carousel owl-theme" id="owl-carousel-gallery">
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_bveYWZ7YNVtnQYy_KT2sm1cMNkorr4n.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_Qxb5LchQGtxRSpG_O8ddoglf6CSoeri.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_zTMqK92ONuzUvbU_UtItZJpL7BE7GWk.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331095009_MiI9HbTPXfzAHai_mlKSs52g7D2Aba2.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331095010_bXkT7141R2hqCZA_VlWFeoKgFSUHt6S.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_MfT0ePZmNNhha7f_JR8LkvMxhASG1jK.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_p50j5f95BXTSe4Z_tNRCyc7lJpWB6XV.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_wOvGJZyKAgYTLjM_iOflh9viGWbA2Uu.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331094957_hhv0Ng1IKvMLSvC_pWj5eUBfw2LLmmU.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_Qn0RG66QcHN6A1a_zvYr8xDfTnFPZLN.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_FhQRmB3EsK70CZp_iNyv1WMnbSZ4hdv.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_UCaVuR1BHeivkTx_us2tTa0xqTU6ITS.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331094957_8mJvL1Utu41mJQw_rHGhAv0CrwejB98.jpg">
              </div>
                      </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          <a href="./th/pre-degree/gallery" class="btn-view-all">
            <div class="icon"><i class="fa fa-image"></i></div>
            <div class="name">ดูภาพทั้งหมด</div>
          </a>
          <a href="http://virtualtour.bu.ac.th/" target="_blank" class="btn-view-360">
            <div class="icon"><i class="fa fa-camera"></i></div>
            <div class="name">ดูแบบ 360°</div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</section>
            <script type="text/javascript">
  var background_header = "./uploads/faculty/banner/20210331151252_8M6PM8BIEXNNHAI_CKFTPMRKME8CZX0.jpg";
  var background_footer = "./uploads/faculty/contact/20170915150659_OELiTtYCWBfKmIX_YkvEowmqEfIysGM.jpg";
  </script>
  <footer>
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-bu-footer">
              <img src="./assets/main/images/bu-logo-footer.png" alt="มหาวิทยาลัยกรุงเทพ">
            </div>
          </div>
        </div>
        <div class="row visible-md visible-lg">
  <div class="col-lg-3 col-lg-offset-0 col-md-2 col-md-offset-1">
    <h3 class="m-b-md">เกี่ยวกับมหาวิทยาลัย</h3>
    <ul class="list-unstyled">
      <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
      <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
      <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
      <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
      <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ติดต่อเรา</h3>
    <ul class="list-unstyled">
      <li><a href="./th/contact">ติดต่อเรา</a></li>
      <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
      <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
      <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
      <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ลิงก์ด่วน</h3>
    <ul class="list-unstyled">
      <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
      <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
      <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
      <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
      <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
      <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
      <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
      <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
    </ul>
  </div>
  <div class="col-lg-3 col-md-5" ng-controller="news-letter" ng-init="init();">
    <h3 class="m-b-md">รับข่าวสารจากเรา</h3>
    <!-- <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
      </div>
      <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
    </form> -->
    <ul class="list-inline">
      <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
      <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
      <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
      <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
    </ul>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <!-- <div class="col-xs-12 text-center" ng-controller="news-letter" ng-init="init();">
    <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <label for="" class="text-white">รับข่าวสารจากเรา</label>
        <div class="input-group">
          <input type="text" class="form-control text-dark" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
          </span>
        </div>
      </div>
    </form>
  </div> -->
  <div class="col-xs-12">
    <div class="ibox ibox-transparent no-margins">
      <div class="ibox-title no-padding">
        <h5>เมนูลัด</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="panel-group" id="menu-footer">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseOne" aria-expanded="false" class="">เกี่ยวกับมหาวิทยาลัย<i class="fa fa-plus pull-right"></i></a>
              </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
                  <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
                  <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
                  <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
                  <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseTwo" class="collapsed" aria-expanded="false">ติดต่อเรา<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/contact">ติดต่อเรา</a></li>
                  <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                  <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                  <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseThree" class="collapsed" aria-expanded="false">ลิงก์ด่วน<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
                  <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
                  <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
                  <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
                  <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
                  <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
                  <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
                  <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseFour" class="collapsed" aria-expanded="false">ติดตามเราได้ที่<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-inline">
                  <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
                  <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
                  <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
                  <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>Copyright © 1962 - 2021 Bangkok University. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<style>@media only screen and (max-width: 767px) {#menu-header{max-height: 50px; overflow-y:hidden; }}</style>
<div id="overlay-menu">
  <ul class="list-inline pull-right list-close-overlay-menu">
    <li><a href="javascript:void(0);" class="close-overlay-menu"><i class="fa fa-times"></i> ปิด</a></li>
  </ul>
  <div class="panel-group text-center" id="menu-nav">
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a href="./th">หน้าหลัก</a>
        </h5>
      </div>
    </div>
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavOne" aria-expanded="true" class="">หลักสูตร</a>
        </h5>
      </div>
      <div id="menuNavOne" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
                    <ul class="list-unstyled no-margins">
            <li><a href="./th/curriculum/bachelors-degree">ปริญญาตรี</a></li>
            <li><a href="./th/curriculum/masters-degree">ปริญญาโท</a></li>
            <li><a href="./th/curriculum/doctoral-degree">ปริญญาเอก</a></li>
            <li><a href="./en/curriculum/international-programs">International Programs</a></li>
            <li><a href="./th/pre-degree">Pre-Degree</a></li>
            <!-- <li><a href="./th/curriculum/certificate">อบรม/ประกาศนียบัตร</a></li> -->
            <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
            <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Know BU -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavKnowBu" class="collapsed" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavKnowBu" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="th/corporate-news">Corporate News</a></li>
            <li><a href="th/bu-magazine">BU Story</a></li>
            <!-- <li><a href="th/news-clipping">News Clippings</a></li> -->
            <li><a href="th/accommodation">หอพักนักศึกษา</a></li>
            <li><a href="th/activities-clubs/sports">กีฬา/สโมสร/ชมรม</a></li>
            <li><a href="th/facilities">สิ่งอำนวยความสะดวก</a></li>
                        <li><a href="th/service-centers">ศูนย์บริการ</a></li>
            <li><a href="http://katin3.bu.ac.th" target="_blank">กฐินพระราชทาน</a></li>
            <li><a href="http://museum.bu.ac.th" target="_blank">พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                          <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
              <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                      </ul>
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavAboutUs" class="collapsed" aria-expanded="false">เกี่ยวกับมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavAboutUs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
            <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
            <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
            <li><a href="./th/council-committees">สภามหาวิทยาลัย</a></li>
            <li><a href="./th/executives">คณะผู้บริหาร</a></li>
            <li><a href="./th/partner-networks">พันธมิตร</a></li>
            <li><a href="./th/alumni">ศิษย์เก่า</a></li>
            <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
            <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Who are you -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavWhoAre" class="collapsed" aria-expanded="false">คุณคือใคร?</a>
        </h4>
      </div>
      <div id="menuNavWhoAre" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/who-are-you/student">นักศึกษา</a></li>
            <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
            <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
            <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Contact -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavContact" class="collapsed" aria-expanded="false">ติดต่อเรา</a>
        </h4>
      </div>
      <div id="menuNavContact" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/contact">ติดต่อเรา</a></li>
            <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
            <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
            <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
            <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
<script type="text/javascript">var language = 'th';</script>
  <script src="./vendors/jquery/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="./vendors/bigbag/1.3/plugins/jquery-ui/jquery-ui.js" charset="utf-8"></script>
  <script src="./vendors/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular-sanitize.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/spin.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.jquery.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/sweetalert/sweetalert.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/jasny/jasny-bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/backstretch/jquery.backstretch.js" charset="utf-8"></script>
  <script src="./vendors/grid-a-licious/jquery.grid-a-licious.min.js" charset="utf-8"></script>
  <script src="./vendors/sticky-kit/jquery.sticky-kit.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/inspinia-main.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/pace/pace.min.js" charset="utf-8"></script>
  <script src="./vendors/hamburger-toggle/js/script.min.js" charset="utf-8"></script>
  <script src="./vendors/owl.carousel/owl-carousel/owl.carousel.min.js" charset="utf-8"></script>
  <script src="./assets/main/js/app.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/faculty.js" charset="utf-8"></script>
  <script src="./vendors/scrollreveal/scrollreveal.min.js" charset="utf-8"></script>
  <script src="./vendors/grid-a-licious/jquery.grid-a-licious.min.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/main/index.js" charset="utf-8"></script>
</body>
</html>
