<!DOCTYPE html>
<html ng-app="app" lang="th">
<head>
    <base href="https://www.bu.ac.th/">

    <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta name='author' content='Bangkok University'>
  <title>การคุ้มครองข้อมูลส่วนบุคคล - มหาวิทยาลัยกรุงเทพ</title>
  <!-- Open Graph -->
  <meta property='og:url' content='https://www.bu.ac.th/th/privacypolicy'>
  <meta property='og:type' content='website'>
  <meta property='og:title' content='การคุ้มครองข้อมูลส่วนบุคคล - มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:image' content='https://www.bu.ac.th/uploads/seo/default.png'>
  <meta property='og:site_name' content='Bangkok University'>
  <!— Twitter —>
  <meta name='twitter:card' content='website'>
  <meta name='twitter:site' content='@Bangkok_BU'>
  <meta name='twitter:creator' content='@Bangkok_BU'>
  <meta name='twitter:title' content='การคุ้มครองข้อมูลส่วนบุคคล - มหาวิทยาลัยกรุงเทพ'>
  <meta name='twitter:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
        <link rel="stylesheet" href="./vendors/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./vendors/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./vendors/animate/css/animate.css">
        <link rel="stylesheet" href="./vendors/fonts/Karnvayla/stylesheet.css">
        <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/ladda/ladda-themeless.min.css">
        <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/sweetalert/sweetalert.css">
        <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/style-main.css">
        <link rel="stylesheet" href="./vendors/hamburger-toggle/css/style.css">
        <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="./vendors/ionicons-2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="./assets/main/css/style.css">
        <!-- <link rel="stylesheet" href="?v="> -->
        <link rel="shortcut icon" href="favicon.ico" />
              <!-- <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.2&appId=1120425418117270"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script> -->
    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42914512-1', 'bu.ac.th');
  ga('send', 'pageview');
</script>
<!-- /Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBGBMXC');</script>
<!-- End Google Tag Manager -->
<meta property="fb:app_id" content="1120425418117270"/>
<meta property="fb:admins" content="teerapuch.k" />
<meta property="fb:admins" content="100007605044417" />
<meta property="fb:admins" content="ttimsitim" />
<meta property="fb:admins" content="thajcha" />
<meta property="fb:admins" content="kittikomx" />
<meta property="fb:admins" content="Fadearr" />

</head>
<body class="white-bg">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGBMXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="fb-root">
      <div class="fb-customerchat" page_id="132880665271" attribution=setup_tool logged_in_greeting="สวัสดีค่ะ สอบถามวิธีการสมัครเรียนได้นะคะ" logged_out_greeting="สวัสดีค่ะ สอบถามวิธีการสมัครเรียนได้นะคะ" greeting_dialog_display="hide"></div>
  </div>
  <div id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="logo-bu-horizontal">
        <a href="./">
          <img src="./assets/images/resize-logoBU-horizontal.png" alt="มหาวิทยาลัยกรุงเทพ" >
        </a>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div class="form-inline m-t-md">
          <ul class="list-inline pull-right no-margins">
            <li>
              <form class="" action="./th/search" method="get" autocomplete="off">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                  <span class="input-group-btn">
                    <button class="btn btn-default no-rounds" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </li>
            <li>
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle no-rounds" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><strong>TH</strong></button>
                <ul class="dropdown-menu language pull-right" aria-labelledby="dropdownMenu1">
                                                        <li><a href="./en/privacypolicy">EN</a></li>
                                    <li><a href="http://www.buchina.net.cn/" target="_blank">CN</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-menu-bg">
  <img class="header-menu-bg-img" src="./assets/main/images/resize-bg-header2.png" >
</div>

<div id="menu-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default no-margins" id="bu-bootstrap-menu">
          <div class="container">
            <ul class="list-inline visible-xs  pull-right list-right">
              <li><a href="javascript:void()"; onclick="$('#collapse-main-search').toggle();" class="icon-search-small"><i class="fa fa-search"></i></a></li>
            </ul>
            <div class="navbar-header">
              <a class="btn-navbar visible-xs" id="nav-icon"><i class="fa fa-bars"></i></a>
              <a class="navbar-brand hidden-xs" href="./"><img src="./assets/main/images/icon-home.png"></a>
            </div>
                        <a href="http://admissiononline.bu.ac.th/" class="btn btn-apply-now btn-rounds visible-xs" target="_blank">สมัครเรียน</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav border-after">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">หลักสูตร</a>
                  <div class="dropdown-menu full-width">
                                        <div class="row menu-box">
                      <div class="col-md-3 col-sm-3">
                        <a href="./th/curriculum/bachelors-degree" class="box box-1"><div class="text">ปริญญาตรี</div></a>
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <a href="./en/curriculum/international-programs" class="box box-2"><div class="text">International Programs</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/pre-degree" class="box box-8"><div class="text">Pre-degree</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/tuition-fees" class="box box-3"><div class="text">ค่าเล่าเรียน</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/scholarships" class="box box-4"><div class="text">ทุนการศึกษา</div></a>
                      </div>
                    </div>
                    <div class="row menu-box">
                      <div class="col-sm-3">
                        <a href="./th/curriculum/masters-degree" class="box box-5"><div class="text">ปริญญาโท</div></a>
                      </div>
                      <div class="col-sm-3">
                        <a href="./th/curriculum/doctoral-degree" class="box box-6"><div class="text">ปริญญาเอก</div></a>
                      </div>
                                            <div class="col-sm-3">
                        <a href="./th/buci" class="box box-7"><div class="text">หลักสูตรนานาชาติจีน</div></a>
                      </div>
                      <div class="col-sm-3">
                        <a href="./th/short-courses" class="box box-8">
                            <div class="text">
                                อบรม/ประกาศนียบัตร                            </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" onclick="$('#dropdown-menu-header .collapse').collapse('hide');" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
                  <div class="dropdown-menu full-width row bg-676e77" id="dropdown-menu-header">
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">รู้จัก ม.กรุงเทพ</h3>
                      <ul class="list-unstyled m-b-sm">
                                                  <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000052').collapse('toggle');" ng-click="$event.stopPropagation();">ข่าวสาร <i class="fa fa-angle-down"></i></a></li>
                          <li class="collapse" id="collapseMain_00000052">
                            <ul class="list-unstyled">
                              <li><a href="th/corporate-news">&emsp;<i class="fa fa-angle-right"></i> Corporate News</a></li>
                              <li><a href="th/bu-magazine">&emsp;<i class="fa fa-angle-right"></i> BU Story</a></li>
                              <!-- <li><a href="th/news-clipping">&emsp;<i class="fa fa-angle-right"></i> News Clippings</a></li> -->
                            </ul>
                          </li>
                                                <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000057').collapse('toggle');" ng-click="$event.stopPropagation();">ชีวิตนักศึกษา <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000057">
                          <ul class="list-unstyled">
                                                          <li><a href="th/accommodation">&emsp;<i class="fa fa-angle-right"></i> หอพักนักศึกษา</a></li>
                                                        <li><a href="th/activities-clubs/sports">&emsp;<i class="fa fa-angle-right"></i> กีฬา/สโมสร/ชมรม</a></li>
                            <li><a href="th/facilities">&emsp;<i class="fa fa-angle-right"></i> สิ่งอำนวยความสะดวก</a></li>
                                                                                      <li><a href="th/service-centers">&emsp;<i class="fa fa-angle-right"></i> ศูนย์บริการ</a></li>
                                                                                  </ul>
                        </li>
                        <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000139').collapse('toggle');" ng-click="$event.stopPropagation();">ศิลปวัฒนธรรม <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000139">
                          <ul class="list-unstyled">
                            <li><a href="http://katin3.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> กฐินพระราชทาน</a></li>
                            <li><a href="http://museum.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
                            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">&emsp;<i class="fa fa-angle-right"></i> หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                            
                                                      </ul>
                        </li>
                        <li><a href="./th/excellence-center">ศูนย์แห่งความเป็นเลิศ</a></li>
                                                  <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
                          <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                                              </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">เกี่ยวกับมหาวิทยาลัย</h3>
                      <ul class="list-unstyled m-b-sm">
                                                  <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
                          <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
                                                <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
                        <li><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000077').collapse('toggle');" ng-click="$event.stopPropagation();">คณะผู้บริหาร <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000077">
                          <ul class="list-unstyled">
                            <li><a href="./th/council-committees">&emsp;<i class="fa fa-angle-right"></i> สภามหาวิทยาลัย</a></li>
                            <li><a href="./th/executives">&emsp;<i class="fa fa-angle-right"></i> คณะผู้บริหาร</a></li>
                          </ul>
                        </li>
                        <li><a href="./th/partner-networks">พันธมิตร</a></li>
                        <li><a href="./th/alumni">ศิษย์เก่า</a></li>
                        <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
                        <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">คุณคือใคร?</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/who-are-you/student/">นักศึกษา</a></li>
                        <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
                        <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
                        <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">ติดต่อเรา</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/contact">ติดต่อเรา</a></li>
                        <!-- <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li> -->
                        <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                        <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                        <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://admissiononline.bu.ac.th/" class="btn btn-apply-now btn-rounds" target="_blank">สมัครเรียน</a></li>
                <li class="dropdown language" id="dropdown-language-navbar">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TH</a>
                  <div class="dropdown-menu">
                    <ul class="list-unstyled">
                                                                    <li><a href="./en/privacypolicy">EN</a></li>
                                            <li><a href="http://www.buchina.net.cn/" target="_blank">CN</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="collapse-main-search">
            <form autocomplete="off" action="./thsearch" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
  <section id="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
	            <ol class="breadcrumb">
	                <li><a href=" ./th"><i class="fa fa-home"></i>
	                        หน้าหลัก</a></li>
	                <li class="active">
	                    ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)	                </li>
	            </ol>
	        </div>
		</div>
		<div class="row" style="margin-bottom: 4rem;">
			<div class="col-lg-12">
									<strong><p style="text-align: center;">ประกาศมหาวิทยาลัยกรุงเทพ</p>

					<p style="text-align: center;">ที่ 9/2564</p>

					<p style="text-align: center;">เรื่อง&nbsp; นโยบายการคุ้มครองข้อมูลส่วนบุคคล มหาวิทยาลัยกรุงเทพ พ.ศ.2564</p>

					<p style="text-align: center;"></strong>............................................................................</p>

					<p>&nbsp;</p>

					<p>ด้วยมหาวิทยาลัยมีหน้าที่เก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลของบุคลากร นักศึกษา หรือบุคคลที่เกี่ยวข้องอื่น ๆ เพื่อวัตถุประสงค์ในการดำเนินการด้านต่างๆ ของมหาวิทยาลัย และมหาวิทยาลัยตระหนักถึงหน้าที่ความรับผิดชอบของมหาวิทยาลัยภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล ฉะนั้น อาศัยอำนาจตามความในมาตรา 43 (1)&nbsp; แห่งพระราชบัญญัติสถาบันอุดมศึกษาเอกชน พ.ศ.2546&nbsp; อธิการบดี จึงออกประกาศนโยบายการคุ้มครองข้อมูลส่วนบุคคล มหาวิทยาลัยกรุงเทพ พ.ศ.2564 ฉบับนี้ขึ้น เพื่อชี้แจงรายละเอียดและวิธีการดำเนินการของมหาวิทยาลัยเกี่ยวกับข้อมูลส่วนบุคคล และให้มีผลใช้บังคับกับการเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลที่ดำเนินการโดยมหาวิทยาลัย ดังต่อไปนี้</p>

					<p>&nbsp;</p>

					<p>ข้อ 1. ประกาศฉบับนี้ ให้ใช้บังคับนับตั้งแต่วันที่ประกาศเป็นต้นไป</p>

					<p>&nbsp;</p>

					<p>ข้อ 2. ในประกาศนี้</p>

					<p>&ldquo;ข้อมูลส่วนบุคคล&rdquo; หมายความว่า ข้อมูลใดๆ ที่เกี่ยวกับบุคคลที่ทำให้สามารถระบุตัวตนบุคคลนั้นได้ไม่ว่าทางตรงหรือทางอ้อม รวมทั้งข้อมูลทุกประเภทที่สามารถบ่งชี้ตัวตน ซึ่งรวมถึงแต่ไม่จำกัดเพียง ชื่อ หมายเลขประจำตัวบัตรประชาชน ข้อมูลสถานที่อยู่ ข้อมูลออนไลน์ ข้อมูลเอกลักษณ์ทางกายภาพทางจิตใจ ทางสังคม เศรษฐกิจ วัฒนธรรม ที่สามารถระบุตัวตนได้</p>

					<p>&ldquo;เจ้าของข้อมูลส่วนบุคคล&rdquo; หมายความว่า บุคคลที่ข้อมูลส่วนบุคคลระบุไปถึง</p>

					<p>&ldquo;กฎหมายคุ้มครองข้อมูลส่วนบุคคล&rdquo; หมายความว่า พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ.2562 หรือฉบับอื่นที่อาจมีการแก้ไขในภายหลัง รวมถึงพระราชกฤษฎีกา กฎกระทรวง ประกาศ คำสั่ง และกฎหมายอื่นที่เกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคล</p>

					<p>&nbsp;</p>

					<p>ข้อ 3. นโยบายการดำเนินการของมหาวิทยาลัย</p>

					<p>ในการเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลของบุคลากร นักศึกษา หรือบุคคลที่เกี่ยวข้องอื่นๆ มหาวิทยาลัยในฐานะผู้ควบคุมข้อมูลส่วนบุคคลและผู้ประมวลผลข้อมูลส่วนบุคคล&nbsp; &nbsp; &nbsp; มีหน้าที่ปฏิบัติตามกฎหมายคุ้มครองข้อมูลส่วนบุคคล ดังนี้</p>

					<p>(1) เก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลอย่างถูกต้อง และภายใต้ขอบเขตที่กฎหมายกำหนดอย่างถูกต้องตามกฎหมาย</p>

					<p>(2) สนับสนุนให้มีการคุ้มครองข้อมูลส่วนบุคคล</p>

					<p>(3) จัดให้มีระบบรักษาความปลอดภัยและการเก็บรักษาข้อมูลส่วนบุคคลที่คุ้มครองและให้ความปลอดภัยกับความลับของข้อมูลส่วนบุคคลตามมาตรฐานที่กฎหมายกำหนด</p>

					<p>(4) จัดทำระบบและเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลโดยคำนึงถึงความเป็นส่วนตัวของเจ้าของข้อมูลส่วนบุคคล</p>

					<p>ข้อ 4. มหาวิทยาลัยจะดำเนินการเก็บรวบรวมและประมวลผลข้อมูลส่วนบุคคลภายใต้หลัก 6 ประการดังต่อไปนี้</p>

					<p>(1)<b> </b>มหาวิทยาลัยจะเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลส่วนบุคคลโดยชอบด้วยกฎหมาย เป็นธรรม และโปร่งใส</p>

					<p>(2) มหาวิทยาลัยจะเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลตามวัตถุประสงค์ที่ได้เก็บรวบรวมมาหรือตามอำนาจหน้าที่ตามกฎหมายหรือตามขอบเขตหน้าที่การงานตามที่ระบุไว้หรือเพื่อประโยชน์ในการดำเนินงานหรือกิจการของมหาวิทยาลัยเท่านั้น</p>

					<p>(3) มหาวิทยาลัยจะเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลเฉพาะเท่าที่จำเป็นที่เกี่ยวข้องกับวัตถุประสงค์ที่กำหนดไว้เท่านั้น เว้นแต่กฎหมายระบุให้ดำเนินการเพิ่มเติม หรือเก็บรวบรวม &nbsp; ใช้ ประมวลผล หรือเปิดเผยเพื่อป้องกันผลประโยชน์ได้เสียโดยชอบธรรมของมหาวิทยาลัย</p>

					<p>(4) มหาวิทยาลัยจะดำเนินการตรวจสอบให้ข้อมูลส่วนบุคคลมีความถูกต้อง ทันสมัย และสามารถแก้ไขข้อผิดพลาดได้โดยเร็ว</p>

					<p>(5) มหาวิทยาลัยจะเก็บข้อมูลส่วนบุคคลไว้ไม่เกินระยะเวลาเท่าที่จำเป็นหรือระยะเวลาตามกฎหมายสำหรับวัตถุประสงค์ที่มหาวิทยาลัยกำหนด เว้นแต่กรณีที่กำหนดให้จัดเก็บเพิ่มเติมหรือเพื่อป้องกันผลประโยชน์ได้เสียโดยชอบธรรมของมหาวิทยาลัย</p>

					<p>(6) มหาวิทยาลัยจะใช้มาตรการรักษาความมั่นคงปลอดภัยที่ได้มาตรฐานสำหรับข้อมูลส่วนบุคคลที่มหาวิทยาลัยจัดเก็บ เพื่อป้องกันไม่ให้ข้อมูลส่วนบุคคลที่อยู่ในความควบคุมของมหาวิทยาลัยถูกเข้าถึงโดย &nbsp; ไม่ชอบ สูญหาย หรือถูกทำลายโดยบุคคลภายนอกหรือถูกใช้โดยไม่ชอบด้วยกฎหมาย</p>

					<p>&nbsp;</p>

					<p>ข้อ 5. ข้อมูลส่วนบุคคลที่มหาวิทยาลัยจำเป็นต้องเก็บรวบรวม ใช้ เปิดเผย ประกอบด้วย</p>

					<p>(1) ข้อมูลส่วนบุคคลประเภททั่วไป (normal personal data) ซึ่งรวมถึงแต่ไม่จำกัดเพียง ชื่อ นามสกุล ที่อยู่ เบอร์โทรศัพท์ อีเมล เป็นต้น</p>

					<p>(2) ข้อมูลส่วนบุคคลที่มีความอ่อนไหว (sensitive personal data) ตามมาตรา 26 ของพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ.2562 ซึ่งรวมถึงแต่ไม่จำกัดเพียง เชื้อชาติ เผ่าพันธุ์ ความคิดเห็นทางการเมือง ความเชื่อในลัทธิ ศาสนาหรือปรัชญา พฤติกรรมทางเพศ ประวัติอาชญากรรม ข้อมูลสุขภาพ ความพิการ ข้อมูลพันธุกรรม ข้อมูลชีวภาพ หรือข้อมูลอื่นใดที่มีลักษณะเดียวกัน โดยมหาวิทยาลัยจะเข้าถึง เก็บรวบรวม ใช้ เปิดเผย หรือควบคุมข้อมูลส่วนบุคคลด้วยความระมัดระวังตามขอบเขตที่กฎหมายกำหนด มหาวิทยาลัยจะแจ้งข้อมูลรายละเอียดการเก็บรวบรวม ใช้ หรือเปิดเผย ข้อมูลส่วนบุคคลประเภทพิเศษดังกล่าวก่อนหรือขณะที่มหาวิทยาลัยเก็บรวบรวมข้อมูลจากเจ้าของข้อมูลภายใต้เงื่อนไขหลักเกณฑ์&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ที่กฎหมายกำหนด</p>

					<p>(3) ข้อมูลส่วนบุคคลที่เกี่ยวข้องกับการกระทำความผิดกฎหมาย ในกรณีที่มีการกระทำความผิดตามกฎหมายเกิดขึ้น ไม่ว่าจะเป็นความผิดในทางแพ่งหรือทางอาญาหรือกฎหมายอื่นใด มหาวิทยาลัยมีสิทธิเก็บรวบรวมหรือใช้ข้อมูลการกระทำความผิดกฎหมายได้ โดยมหาวิทยาลัยจะเข้าถึง เก็บรวบรวม ใช้ เปิดเผย หรือควบคุมข้อมูลส่วนบุคคลด้วยความระมัดระวังตามขอบเขตที่กฎหมายกำหนด</p>

					<p>(4) เพื่อปกป้องผลประโยชน์ได้เสียของมหาวิทยาลัย มหาวิทยาลัยได้ติดตั้งกล้องวงจรปิดเพื่อความปลอดภัยภายในบริเวณมหาวิทยาลัย มหาวิทยาลัยหรือผู้ให้บริการซึ่งเป็นบุคคลภายนอกที่มหาวิทยาลัยจัดหา (ว่าจ้าง) จะดำเนินการเก็บรวบรวม ใช้ ประมวลผลข้อมูลจากภาพนิ่งหรือภาพเคลื่อนไหวและข้อมูลส่วนบุคคลของผู้ที่ใช้และเข้ามาในบริเวณพื้นที่ของมหาวิทยาลัย เพื่อความปลอดภัยของมหาวิทยาลัยและบุคคลทั่วไป</p>

					<p>&nbsp;</p>

					<p>ข้อ 6. มหาวิทยาลัยอาจเก็บรวบรวม ใช้ เปิดเผย และประมวลผลข้อมูลส่วนบุคคลที่มหาวิทยาลัยรวบรวมจากเจ้าของข้อมูลส่วนบุคคลโดยตรง หรือเก็บรวบรวมข้อมูลส่วนบุคคลจากบุคคลภายนอก</p>

					<p>ในบางกรณี มหาวิทยาลัยอาจขอให้เจ้าของข้อมูลส่วนบุคคลให้ข้อมูลบางประเภทแก่มหาวิทยาลัยเพิ่มเติมเพื่อให้มหาวิทยาลัยสามารถปฏิบัติตามสัญญาหรือดำเนินการใดๆ ตามที่เจ้าของข้อมูลส่วนบุคคลร้องขอ ทั้งนี้ การไม่ให้ข้อมูลส่วนบุคคลแก่มหาวิทยาลัยอาจเป็นผลให้มหาวิทยาลัยยุติสัญญาที่มีระหว่างกัน หรือมหาวิทยาลัยไม่สามารถดำเนินการใดๆ ตามที่เจ้าของข้อมูลส่วนบุคคลร้องขอได้</p>

					<p>&nbsp;</p>

					<p>ข้อ 7. มหาวิทยาลัยจะไม่เก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคล โดยไม่ได้รับความยินยอมจากเจ้าของข้อมูลส่วนบุคคล เว้นแต่กรณีที่เป็นการกระทำตามกฎหมาย เพื่อปฏิบัติตามสัญญา เพื่อประโยชน์สาธารณะ เพื่อประโยชน์ในการดำเนินงานหรือกิจการของมหาวิทยาลัย หรือมีสิทธิโดยชอบด้วยกฎหมายให้สามารถดำเนินการได้</p>

					<p>&nbsp;</p>

					<p>ข้อ 8. มหาวิทยาลัยอาจประมวลผลข้อมูลส่วนบุคคล ในกรณีที่กฎหมายให้อำนาจมหาวิทยาลัยให้สามารถกระทำได้ ทั้งนี้ ประเภทและขอบเขตของการประมวลผลข้อมูลส่วนบุคคลของมหาวิทยาลัยจะเป็นไปเท่าที่จำเป็นตามที่กฎหมายกำหนด เพื่อวัตถุประสงค์ของการเก็บรวบรวม &nbsp;ใช้ &nbsp;หรือเปิดเผยข้อมูลส่วนบุคคลของมหาวิทยาลัย หรือเพื่อประโยชน์ในการดำเนินงานหรือกิจการของมหาวิทยาลัย ที่กำหนดไว้เท่านั้น</p>

					<p>&nbsp;</p>

					<p>ข้อ 9. มหาวิทยาลัยจะไม่เก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลที่มีความอ่อนไหว (sensitive data) เช่น ข้อมูลเกี่ยวกับเชื้อชาติ เผ่าพันธุ์ ความคิดเห็นทางการเมือง ความเชื่อในลัทธิ ศาสนาหรือปรัชญา พฤติกรรมทางเพศ ประวัติอาชญากรรม ข้อมูลสุขภาพ ความพิการ ข้อมูลสหภาพแรงงาน ข้อมูลพันธุกรรม ข้อมูลชีวภาพ โดยไม่ได้รับความยินยอมโดยชัดแจ้งจากเจ้าของข้อมูลส่วนบุคคล เว้นแต่กรณีที่มหาวิทยาลัยมีฐานทางกฎหมายรองรับให้สามารถดำเนินการได้ ตามที่กำหนดในกฎหมายคุ้มครองข้อมูลส่วนบุคคล เช่น</p>

					<p>&nbsp; (1) เพื่อป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพของบุคคลซึ่งเจ้าของข้อมูลส่วนบุคคลไม่สามารถให้ความยินยอมได้ ไม่ว่าด้วยเหตุใดก็ตาม</p>

					<p>(2) เป็นข้อมูลที่เปิดเผยต่อสาธารณะด้วยความยินยอมโดยชัดแจ้งของเจ้าของข้อมูลส่วนบุคคล</p>

					<p>(3) เป็นการจำเป็นในการปฏิบัติตามกฎหมายเพื่อให้บรรลุวัตถุประสงค์เกี่ยวกับเวชศาสตร์ป้องกันหรืออาชีวเวชศาสตร์</p>

					<p>(4) เป็นการจำเป็นในการปฏิบัติตามกฎหมายเพื่อให้บรรลุวัตถุประสงค์เกี่ยวกับประโยชน์สาธารณะ การศึกษาวิจัยทางวิทยาศาสตร์ ประวัติศาสตร์ หรือสถิติ หรือประโยชน์สาธารณะอื่น มหาวิทยาลัยจะแจ้งข้อมูลรายละเอียดการเก็บรวบรวม ใช้ เปิดเผย ข้อมูลส่วนบุคคลที่มีความอ่อนไหวดังกล่าวต่อเจ้าของข้อมูลส่วนบุคคลก่อนหรือขณะที่มหาวิทยาลับเก็บรวบรวมข้อมูลจากเจ้าของข้อมูลส่วนบุคคลภายใต้เงื่อนไขหลักเกณฑ์ที่กฎหมายกำหนด</p>

					<p>&nbsp;</p>

					<p>ข้อ 10. วัตถุประสงค์ในการเก็บรวบรวม ใช้ ประมวลผลข้อมูลส่วนบุคคล</p>

					<p>มหาวิทยาลัยเก็บรวบรวมข้อมูล ใช้ ประมวลผลเพื่อวัตถุประสงค์ในการดำเนินงานหรือกิจการของมหาวิทยาลัย การศึกษา การวิจัย หรือการจัดทำสถิติ เพื่อปรับปรุงคุณภาพของการให้บริการของมหาวิทยาลัยให้มีประสิทธิภาพมากยิ่งขึ้น<b> </b>เพื่อวัตถุประสงค์ในการจัดเก็บข้อมูล เพื่อปฏิบัติตามกฎหมาย เพื่อประโยชน์สาธารณะ และเพื่อประโยชน์อันชอบด้วยกฎหมายของมหาวิทยาลัย</p>

					<p>&nbsp;</p>

					<p>ข้อ 11. ความยินยอมของเจ้าของข้อมูลส่วนบุคคล</p>

					<p>การให้ความยินยอมของเจ้าของข้อมูลส่วนบุคคลต้องกระทำโดยสมัครใจ โดยทำในรูปแบบที่เป็นลายลักษณ์อักษรไม่ว่าโดยกระดาษหรือโดยทางอิเล็กทรอนิกส์ (ผ่านระบบคอมพิวเตอร์ หรือระบบมือถือ หรือวิธีติดต่อสื่อสารทางสังคมโซเชียลมีเดีย หรือระบบการสื่อสารโทรคมนาคม เป็นต้น) ทั้งนี้ เจ้าของข้อมูลส่วนบุคคลอาจให้ความยินยอมโดยวาจาได้เป็นบางกรณี และมหาวิทยาลัยจะทำการบันทึกการให้ความยินยอมดังกล่าวทุกครั้ง</p>

					<p>เจ้าของข้อมูลส่วนบุคคลที่ไม่ประสงค์ให้มหาวิทยาลัยเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลอีกต่อไป สามารถเพิกถอนความยินยอมได้โดยการทำคำร้องแจ้งมายังเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของมหาวิทยาลัย</p>

					<p>การเพิกถอนความยินยอมดังกล่าว จะต้องอยู่ภายใต้เงื่อนไข ข้อกำหนด ประกาศ หรือระเบียบที่กำหนดในกฎหมายคุ้มครองข้อมูลส่วนบุคคล รวมถึงนโยบายคุ้มครองข้อมูลส่วนบุคคลของมหาวิทยาลัย และหลักเกณฑ์อื่นๆ ที่มหาวิทยาลัยกำหนด</p>

					<p>ข้อ 12. บุคคลที่มหาวิทยาลัยอาจเปิดเผยข้อมูลส่วนบุคคล</p>

					<p>มหาวิทยาลัยตระหนักถึงความสำคัญในการทำให้มั่นใจถึงการป้องกันข้อมูลส่วนบุคคลที่เพียงพอ มหาวิทยาลัยจะจำกัดการเข้าถึงข้อมูลส่วนบุคคลให้แก่บุคคลที่มีความจำเป็นที่จะต้องเข้าถึงข้อมูลดังกล่าวเพื่อปฏิบัติหน้าที่ที่มีอยู่ พนักงาน บุคลากรของมหาวิทยาลัย รวมทั้งบุคคลภายนอกที่มีสัญญาให้บริการแก่มหาวิทยาลัยเกี่ยวกับการประมวลผลข้อมูลส่วนบุคคลข้างต้นและคู่สัญญาอื่นๆ ที่กระทำในนามมหาวิทยาลัยจะเป็นผู้ได้รับและประมวลผลข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคล มหาวิทยาลัยจะเปิดเผยและแบ่งปันข้อมูลกับผู้ให้บริการแก่มหาวิทยาลัยเหล่านั้นเท่าที่จำเป็น เพื่อประมวลผลข้อมูลส่วนบุคคล เพื่อการให้บริการ และเพื่อปกป้องส่วนได้เสียของมหาวิทยาลัยเท่านั้น และตกลงที่จะป้องกันข้อมูลส่วนบุคคลจาก&nbsp; การใช้ การเข้าถึงหรือการเปิดเผยโดยไม่ได้รับอนุญาต</p>

					<p>มหาวิทยาลัยอาจให้ข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลแก่มหาวิทยาลัยอื่นใดหรือหน่วยงานใดๆ เพื่อดำเนินงานหรือกิจการของมหาวิทยาลัย หรือการดำเนินกิจกรรมร่วมกัน การเดินทาง&nbsp; &nbsp; การจัดงานร่วมกัน การเชื่อมโยง/เกี่ยวข้องทางวิชาชีพ (profession affiliations) และการวิจัย มหาวิทยาลัยอาจเปิดเผยข้อมูลส่วนบุคคลของเจ้าของข้อมูลส่วนบุคคลให้กับหน่วยงานราชการที่ควบคุมในเรื่อง การตรวจคนเข้าเมือง ภาษี ความมั่นคงของชาติและอาชญากรรม หรือเหตุอื่นใดตามที่กฎหมายกำหนด</p>

					<p>นอกจากนี้ เจ้าของข้อมูลส่วนบุคคลตกลงยินยอมให้มหาวิทยาลัยเปิดเผยหรือโอนข้อมูลส่วนบุคคลให้แก่หน่วยงานในเครือ หรือพันธมิตรของมหาวิทยาลัย เพื่อวัตถุประสงค์ในการดำเนินงานหรือกิจการของมหาวิทยาลัย หรือเพื่อการปฏิบัติตามนโยบาย เพื่อปกป้องประโยชน์ได้เสียหรือสิทธิโดยชอบด้วยกฎหมายของมหาวิทยาลัย หรือประกาศที่มหาวิทยาลัยจะกำหนดเป็นกรณีๆ ไป</p>

					<p>&nbsp;</p>

					<p>ข้อ 13. เจ้าของข้อมูลส่วนบุคคลมีสิทธิ ดังต่อไปนี้</p>

					<p>(1) สิทธิในการเข้าถึงข้อมูลส่วนบุคคลที่มหาวิทยาลัยได้เก็บรวบรวม รวมถึงมีสิทธิที่จะขอรับสำเนาข้อมูลดังกล่าวจากมหาวิทยาลัย</p>

					<p>(2) สิทธิในการแก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง หากเห็นว่าข้อมูลส่วนบุคคลที่อยู่ในความครอบครองของมหาวิทยาลัยไม่ถูกต้อง</p>

					<p>(3) สิทธิที่จะขอให้มหาวิทยาลัยลบ หรือทำลายข้อมูลส่วนบุคคลที่อยู่ในความครอบครองของมหาวิทยาลัยได้ เว้นแต่การดำเนินการดังกล่าวขัดต่อกฎหมาย หรืออาจก่อให้เกิดผลกระทบและความเสียหายต่อมหาวิทยาลัย</p>

					<p>(4) สิทธิที่จะขอให้มหาวิทยาลัยระงับการใช้ข้อมูลส่วนบุคคลได้ เว้นแต่การดำเนินการดังกล่าว ขัดต่อกฎหมาย หรืออาจก่อให้เกิดผลกระทบและความเสียหายต่อมหาวิทยาลัย</p>

					<p>(5) สิทธิที่จะขอรับสำเนาข้อมูลส่วนบุคคลในรูปแบบอิเล็กทรอนิกส์ในกรณีที่มหาวิทยาลัยได้ทำให้ข้อมูลส่วนบุคคลนั้นอยู่ในรูปแบบที่สามารถอ่านหรือใช้งานโดยทั่วไปได้ด้วยเครื่องมือหรืออุปกรณ์ที่ทำงานได้โดยอัตโนมัติและสามารถใช้หรือเปิดเผยข้อมูลส่วนบุคคลได้ด้วยวิธีการอัตโนมัติ รวมถึงขอให้มหาวิทยาลัยส่งหรือโอนข้อมูลส่วนบุคคลในรูปแบบดังกล่าวไปให้บุคคลภายนอก เว้นแต่การดำเนินการดังกล่าวขัดต่อกฎหมาย หรืออาจก่อให้เกิดผลกระทบและความเสียหายต่อมหาวิทยาลัย</p>

					<p>(6) สิทธิที่จะคัดค้านการใช้ รวบรวม จัดเก็บและเปิดเผยข้อมูลส่วนบุคคลที่เป็นการใช้ รวบรวม จัดเก็บและเปิดเผยข้อมูลส่วนบุคคลเพื่อวัตถุประสงค์อื่น เว้นแต่การดำเนินการดังกล่าวขัดต่อกฎหมาย หรืออาจก่อให้เกิดผลกระทบและความเสียหายต่อมหาวิทยาลัย</p>

					<p>(7)&nbsp; สิทธิในการขอให้ระงับการประมวลผลโดยระบบอัตโนมัติหรือ Artificial Intelligence (AI)</p>

					<p>ทั้งนี้ การใช้สิทธิของเจ้าของข้อมูลส่วนบุคคลจะต้องอยู่ภายใต้ข้อกำหนด ประกาศ ระเบียบที่มหาวิทยาลัยกำหนด ซึ่งจะเป็นไปตามหลักเกณฑ์ของกฎหมายคุ้มครองข้อมูลส่วนบุคคล รวมถึงนโยบายคุ้มครองข้อมูลส่วนบุคคลของมหาวิทยาลัย และหลักเกณฑ์อื่นๆ ที่มหาวิทยาลัยกำหนด</p>

					<p>&nbsp;</p>

					<p>ข้อ 14. กระบวนการในการคุ้มครองข้อมูลส่วนบุคคลของมหาวิทยาลัย แยกเป็น 3 ส่วน ประกอบ ด้วย</p>

					<p>(1) การบริหารจัดการผ่านบุคลากรของมหาวิทยาลัย (people)</p>

					<p>(2) การบริหารจัดการผ่านระบบการจัดการข้อมูลส่วนบุคคล (process)</p>

					<p>(3) การใช้เทคโนโลยีคุ้มครองข้อมูลส่วนบุคคล (technology)</p>

					<p>มหาวิทยาลัยจะจัดให้มีการประเมินผลกระทบความเป็นส่วนตัวสำหรับการดำเนินโครงการต่างๆ ของมหาวิทยาลัยที่เกี่ยวข้องกับข้อมูลส่วนบุคคล เพื่อระบุความเสี่ยงต่อความเป็นส่วนตัวและวางแผนที่เหมาะสมเพื่อบรรเทาความเสี่ยงดังกล่าว</p>

					<p>&nbsp;</p>

					<p>ข้อ 15. การรักษาข้อมูลส่วนบุคคลเป็นความลับ</p>

					<p>ข้อมูลส่วนบุคคลถือเป็นข้อมูลความลับ ห้ามไม่ให้ผู้ใดนำข้อมูลส่วนบุคคลดังกล่าวไปใช้โดยไม่ได้รับอนุญาต ทั้งนี้ การใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลใดๆ โดยผู้ที่ไม่มีสิทธิดำเนินการตามหน้าที่โดยชอบถือว่าเป็นการดำเนินการโดยมิชอบ</p>

					<p>มหาวิทยาลัยจะจำกัดการเข้าถึงข้อมูลส่วนบุคคลให้แก่บุคคลที่มีความจำเป็นที่จะต้องเข้าถึงข้อมูลส่วนบุคคลดังกล่าวเพื่อปฏิบัติหน้าที่ที่มีอยู่ พนักงาน บุคลากรของมหาวิทยาลัย รวมทั้งบุคคลภายนอกที่มีสัญญาให้บริการแก่มหาวิทยาลัยเกี่ยวกับการประมวลผลข้อมูลส่วนบุคคลข้างต้นและคู่สัญญาอื่นๆ ที่กระทำ ในนามมหาวิทยาลัยจะเป็นผู้ได้รับและประมวลผลข้อมูลส่วนบุคคล มหาวิทยาลัยจะเปิดเผยและแบ่งปันข้อมูลส่วนบุคคลกับผู้ให้บริการแก่มหาวิทยาลัยเหล่านั้นเท่าที่จำเป็นเพื่อประมวลผลข้อมูลส่วนบุคคลเพื่อการให้บริการ เพื่อดำเนินงานหรือกิจการของมหาวิทยาลัย และเพื่อปกป้องส่วนได้เสียของมหาวิทยาลัยเท่านั้น และตกลงที่จะป้องกันข้อมูลส่วนบุคคลจากการใช้ การเข้าถึงหรือการเปิดเผยโดยไม่ได้รับอนุญาต</p>

					<p>&nbsp;</p>

					<p>ข้อ 16. เจ้าของข้อมูลส่วนบุคคลตกลงให้มหาวิทยาลัยส่งข้อมูลส่วนบุคคลให้แก่บุคคลอื่นหรือ หน่วยงานที่อยู่ต่างประเทศตามวัตถุประสงค์ที่ระบุในข้อ 10 ของประกาศฉบับนี้ ไม่ว่ากฎหมายคุ้มครองข้อมูลส่วนบุคคลในประเทศนั้นอาจถึงเกณฑ์หรือไม่ถึงเกณฑ์มาตรฐานของกฎหมายคุ้มครองข้อมูลส่วนบุคคลของประเทศไทย ทั้งนี้ มหาวิทยาลัยจะปฏิบัติตามขั้นตอนที่เหมาะสมในการคุ้มครองรักษาความปลอดภัยของข้อมูลส่วนบุคคล ในระดับเดียวกับกฎหมายคุ้มครองข้อมูลส่วนบุคคลของประเทศไทย</p>

					<p>&nbsp;</p>

					<p>ข้อ 17. มหาวิทยาลัยจะเก็บรวบรวมข้อมูลส่วนบุคคล ภายใต้กรอบระยะเวลาตามความจำเป็นในการเก็บรวบรวมข้อมูลส่วนบุคคลหรือตามกฎหมายกำหนด</p>

					<p>&nbsp;</p>

					<p>ข้อ 18. มหาวิทยาลัยมีนโยบายและโปรแกรมรักษาความปลอดภัยของระบบเทคโนโลยีสารสนเทศที่ได้มาตรฐานสากล เพื่อรักษาความลับและความปลอดภัยของข้อมูลส่วนบุคคล และป้องกันการสูญหาย ทำลาย เข้าถึง เปิดเผย หรือประมวลผลข้อมูลส่วนบุคคลโดยมิชอบ</p>

					<p>ข้อ 19. มหาวิทยาลัยได้ดำเนินการตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลโดยจัดให้มีเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล เพื่อตรวจสอบการดำเนินการของมหาวิทยาลัยให้เป็นไปตามกฎหมายคุ้มครองข้อมูลส่วนบุคคล</p>

					<p>หากมีข้อสงสัยหรือความกังวล หรือต้องการสอบถาม ขอข้อมูล หรือร้องเรียนใดๆ ที่เกี่ยวข้องกับการเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคลของมหาวิทยาลัย สามารถติดต่อเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของมหาวิทยาลัยได้ทันทีทางช่องทางการติดต่อดังต่อไปนี้:</p>

					<p>&nbsp;</p>

					<p>เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล</p>

					<p>คณะกรรมการคุ้มครองข้อมูลส่วนบุคคล มหาวิทยาลัยกรุงเทพ</p>

					<p>ที่อยู่&emsp;9/1 หมู่ 5 ถนนพหลโยธิน ตำบลคลองหนึ่ง อำเภอคลองหลวง จังหวัดปทุมธานี 12120</p>

					<p>โทรศัพท์&emsp;02 407 3888</p>

					<p>อีเมล&emsp;pdpc@bu.ac.th</p>

					<p>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

					<p>ประกาศ ณ วันที่ 19 มีนาคม 2564</p>

					<p>&nbsp;</p>

					<p>&nbsp;</p>
					<div class="row">
						<div class="col-lg-offset-8 col-lg-4 text-center">
							(อาจารย์เพชร โอสถานุเคราะห์)<br>
							อธิการบดี
						</div>
					</div>
							</div>
		</div>
	</div>
</section>  <footer>
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-bu-footer">
              <img src="./assets/main/images/bu-logo-footer.png" alt="มหาวิทยาลัยกรุงเทพ">
            </div>
          </div>
        </div>
        <div class="row visible-md visible-lg">
  <div class="col-lg-3 col-lg-offset-0 col-md-2 col-md-offset-1">
    <h3 class="m-b-md">เกี่ยวกับมหาวิทยาลัย</h3>
    <ul class="list-unstyled">
      <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
      <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
      <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
      <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
      <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ติดต่อเรา</h3>
    <ul class="list-unstyled">
      <li><a href="./th/contact">ติดต่อเรา</a></li>
      <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
      <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
      <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
      <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ลิงก์ด่วน</h3>
    <ul class="list-unstyled">
      <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
      <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
      <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
      <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
      <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
      <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
      <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
      <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
    </ul>
  </div>
  <div class="col-lg-3 col-md-5" ng-controller="news-letter" ng-init="init();">
    <h3 class="m-b-md">รับข่าวสารจากเรา</h3>
    <!-- <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
      </div>
      <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
    </form> -->
    <ul class="list-inline">
      <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
      <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
      <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
      <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
    </ul>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <!-- <div class="col-xs-12 text-center" ng-controller="news-letter" ng-init="init();">
    <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <label for="" class="text-white">รับข่าวสารจากเรา</label>
        <div class="input-group">
          <input type="text" class="form-control text-dark" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
          </span>
        </div>
      </div>
    </form>
  </div> -->
  <div class="col-xs-12">
    <div class="ibox ibox-transparent no-margins">
      <div class="ibox-title no-padding">
        <h5>เมนูลัด</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="panel-group" id="menu-footer">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseOne" aria-expanded="false" class="">เกี่ยวกับมหาวิทยาลัย<i class="fa fa-plus pull-right"></i></a>
              </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
                  <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
                  <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
                  <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
                  <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseTwo" class="collapsed" aria-expanded="false">ติดต่อเรา<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/contact">ติดต่อเรา</a></li>
                  <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                  <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                  <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseThree" class="collapsed" aria-expanded="false">ลิงก์ด่วน<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
                  <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
                  <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
                  <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
                  <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
                  <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
                  <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
                  <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseFour" class="collapsed" aria-expanded="false">ติดตามเราได้ที่<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-inline">
                  <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
                  <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
                  <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
                  <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>Copyright © 1962 - 2021 Bangkok University. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<div id="overlay-menu">
  <ul class="list-inline pull-right list-close-overlay-menu">
    <li><a href="javascript:void(0);" class="close-overlay-menu"><i class="fa fa-times"></i> ปิด</a></li>
  </ul>
  <div class="panel-group text-center" id="menu-nav">
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a href="./th">หน้าหลัก</a>
        </h5>
      </div>
    </div>
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavOne" aria-expanded="true" class="">หลักสูตร</a>
        </h5>
      </div>
      <div id="menuNavOne" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
                    <ul class="list-unstyled no-margins">
            <li><a href="./th/curriculum/bachelors-degree">ปริญญาตรี</a></li>
            <li><a href="./th/curriculum/masters-degree">ปริญญาโท</a></li>
            <li><a href="./th/curriculum/doctoral-degree">ปริญญาเอก</a></li>
            <li><a href="./en/curriculum/international-programs">International Programs</a></li>
            <li><a href="./th/pre-degree">Pre-Degree</a></li>
            <!-- <li><a href="./th/curriculum/certificate">อบรม/ประกาศนียบัตร</a></li> -->
            <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
            <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
            <li><a href="https://www.bu.ac.th/th/short-courses">อบรม/ประกาศนียบัตร</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Know BU -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavKnowBu" class="collapsed" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavKnowBu" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="th/corporate-news">Corporate News</a></li>
            <li><a href="th/bu-magazine">BU Story</a></li>
            <!-- <li><a href="th/news-clipping">News Clippings</a></li> -->
            <li><a href="th/accommodation">หอพักนักศึกษา</a></li>
            <li><a href="th/activities-clubs/sports">กีฬา/สโมสร/ชมรม</a></li>
            <li><a href="th/facilities">สิ่งอำนวยความสะดวก</a></li>
                        <li><a href="th/service-centers">ศูนย์บริการ</a></li>
            <li><a href="http://katin3.bu.ac.th" target="_blank">กฐินพระราชทาน</a></li>
            <li><a href="http://museum.bu.ac.th" target="_blank">พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                          <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
              <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                      </ul>
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavAboutUs" class="collapsed" aria-expanded="false">เกี่ยวกับมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavAboutUs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
            <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
            <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
            <li><a href="./th/council-committees">สภามหาวิทยาลัย</a></li>
            <li><a href="./th/executives">คณะผู้บริหาร</a></li>
            <li><a href="./th/partner-networks">พันธมิตร</a></li>
            <li><a href="./th/alumni">ศิษย์เก่า</a></li>
            <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
            <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Who are you -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavWhoAre" class="collapsed" aria-expanded="false">คุณคือใคร?</a>
        </h4>
      </div>
      <div id="menuNavWhoAre" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/who-are-you/student">นักศึกษา</a></li>
            <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
            <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
            <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Contact -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavContact" class="collapsed" aria-expanded="false">ติดต่อเรา</a>
        </h4>
      </div>
      <div id="menuNavContact" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/contact">ติดต่อเรา</a></li>
            <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
            <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
            <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
            <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center">
    <ul class="list-inline">
                    <li><a href="./en/privacypolicy">EN</a></li>
            <li><a href="http://www.buchina.net.cn/" target="_blank">CN</a></li>
    </ul>
  </div>
</div>
<style>@media only screen and (max-width: 767px) {#menu-header{max-height: 50px; overflow-y:hidden; }}</style>
<script type="text/javascript">var language = 'th';</script>
  <script src="./vendors/jquery/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="./vendors/bigbag/1.3/plugins/jquery-ui/jquery-ui.js" charset="utf-8"></script>
  <script src="./vendors/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular-sanitize.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/spin.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.jquery.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/sweetalert/sweetalert.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/jasny/jasny-bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/backstretch/jquery.backstretch.js" charset="utf-8"></script>
  <script src="./vendors/grid-a-licious/jquery.grid-a-licious.min.js" charset="utf-8"></script>
  <script src="./vendors/sticky-kit/jquery.sticky-kit.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/inspinia-main.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/pace/pace.min.js" charset="utf-8"></script>
  <script src="./vendors/hamburger-toggle/js/script.min.js" charset="utf-8"></script>
  <script src="./vendors/owl.carousel/owl-carousel/owl.carousel.min.js" charset="utf-8"></script>
  <script src="./assets/main/js/app.js" charset="utf-8"></script>
  <!-- <script src="?v=" charset="utf-8"></script> -->
  <script>
    (function(d, s, id) {
        let js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v3.3&autoLogAppEvents=1&appId=1120425418117270";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
