#accordion-inter-department .panel-default > .panel-heading {
  background-color: #3b3c51;
  color: #fff;
}
#accordion-inter-department .panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#accordion-inter-department .panel-default {
  border: 0;
}
#accordion-inter-department .panel-heading {
  padding: 0;
}
#accordion-inter-department .panel-heading a {
  padding: 12px 15px;
  display: block;
}
.box-inter-right {
  display: block;
  margin-bottom: 25px;
  border: #e4e4e4 solid 1px;
  background-color: #fff;
}
.box-inter-right > img {
  width: 100%;
}
.box-inter-right > .name {
  padding: 10px;
  color: #494f5b;
  font-family: "karnvaylabold";
  font-size: 1.1em;
  borde-top: #e4e4e4 solid 1px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.box-department {
  margin-bottom: 15px;
  height: 190px;
  background-color: #e1e1e1;
}
.box-department .detail {
  position: absolute;
  color: #fff;
  padding: 12px;
  height: 190px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  display: table;
}
.box-department .detail > .name {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.4em;
}
.fac-homepage-descript{
  line-height: 1.8em;
  margin: 3em 0;
  letter-spacing: 0.0023em;
  font-size: 1.01em;
}
.grid-departments {
  padding: 0;
  width: 100%;
}
.grid-departments .item {
  margin: 10px;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.grid-departments .item .product-imitation {
  padding: 85px 0;
}
.grid-departments .item .product-imitation.dept1 {
  padding: 200px 0;
}
.grid-departments .item .product-desc {
  padding: 10px;
  display: table;
  width: 100%;
}
.grid-departments .item .product-name{
  height: 42px;
  line-height: 1.5em;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.grid-departments .item:hover .product-name,
.grid-departments .item:focus .product-name,
.grid-departments .item:active .product-name{
  color: #ffa531;
}
.grid-departments .item .product-name.dept1{
  font-size: 16px;
}
.ibox {
  margin-bottom: 0;
}
.tabs-container .nav-tabs {
  text-align:center;
}
.tabs-container .nav-tabs > li {
  float:none;
  display:inline-block;
  *display:inline;
  zoom:1;
}
.tabs-container .nav-tabs>li>a {
  border-radius: 1px;
}
.box-faculty-gray{
  padding: 4em 0;
  padding-bottom: 5em;
}
.box-faculty-gray .box-header{
  font-size: 2.3em;
  margin-bottom: 0.3em;
  color: #fff;
}
.box-faculty-gray .link-video-all{
  background-color: #FFF;
  text-align: right;
  padding: 10px;
  position: absolute;
  width: 100%;
}
.box-faculty-gray .box-content-scotch{
  padding: 1em;
  color: #666;
  text-align: center;
  font-size: 1.7em;
  display: table;
  background-color: #fff;
  width: 100%;
}
.box-faculty-gray .box-content-scotch > .text{
  display: table-cell;
  vertical-align: middle;
}
.box-faculty-gray .box-image-link{
  width: 50%;
  float: left;
  background-color: #000;
}
.box-faculty-gray .box-image-link > .name{
  padding: 6px 6px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.79);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 1.2em;
  height: 42px;
  line-height: 30px;
  overflow: hidden;
}
.box-faculty-gray .box-image-link-set a .box-image-link > .name{
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
.box-faculty-gray .box-image-link-set a:hover .box-image-link > .name, .box-faculty-gray .box-image-link-set a:focus .box-image-link > .name, .box-faculty-gray .box-image-link-set a:active .box-image-link > .name{
  color: #ffb400;
  background-color: rgba(0, 0, 0, 0.9);
}
.section-gallery, .section-board-of-directors, .section-portfolios{
  padding: 5em 15px;
}
.box-portfolio{
  display: block;
  margin-bottom: 15px;
}
.box-portfolio > .box-portfolio-image{
  height: 370px;
}
.box-portfolio > .box-portfolio-image.image-col12{
  /*height: 580px;*/
}
.box-portfolio > .box-portfolio-image > .box-portfolio-detail{
  height: 70px;
  background-color: rgba(0, 0, 0, 0.78);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
}
.box-portfolio > .box-portfolio-image > .box-portfolio-detail > .name{
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 3px;
}
.box-portfolio > .box-portfolio-image > .box-portfolio-detail > .description{
  font-size: 0.8em;
  color: #b9b9b9;
  height: 28px;
  overflow: hidden;
}
.owl-tab-department .item{
  margin: 0px;
  padding: 5px;
  padding-bottom: 10px;
}
#owl-carousel-gallery .item {
  margin-right: 10px;
}
#owl-carousel-gallery .item img{
  width: 100%;
  margin-right: 10px;
  border: #e4dede solid 1px;
  border-radius: 3px;
}
#owl-carousel-gallery .owl-carousel{
  margin-bottom: 15px;
}
#owl-carousel-gallery .owl-controls .owl-buttons div {
  font-size: 7em;
  background: none;
  color: rgb(73, 79, 91);
  opacity: 0.8;
}
#owl-carousel-gallery .owl-controls .owl-buttons div.owl-prev {
  position: absolute;
  left: 0;
  top: 7%;
}
#owl-carousel-gallery .owl-controls .owl-buttons div.owl-next {
  position: absolute;
  right: 0;
  top: 7%;
}
#owl-carousel-board-of-directors  .item {
  margin-right: 10px;
}
#owl-carousel-board-of-directors .item img{
  width: 100%;
  margin-right: 10px;
}
#owl-carousel-board-of-directors .item .description {
  position: absolute;
  width: 100%;
  color: #fff;
  bottom: 0;
  text-align: center;
  height: 65px;
  display: table;
  padding-right: 10px;
}
#owl-carousel-board-of-directors .item .description > .detail {
  display: table-cell;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.78);
  vertical-align: middle;
}
#owl-carousel-board-of-directors .item .description > .detail > .name{
  font-size: 1.1em;
}
#owl-carousel-board-of-directors .item .description > .detail > .position{
  font-size: 0.8em;
  color: #b9b9b9;
}
#owl-carousel-board-of-directors .owl-controls .owl-buttons div {
  font-size: 7em;
  background: none;
  color: rgb(73, 79, 91);
  opacity: 0.8;
}
#owl-carousel-board-of-directors .owl-controls .owl-buttons div.owl-prev {
  position: absolute;
  left: 0;
  top: 20%;
}
#owl-carousel-board-of-directors .owl-controls .owl-buttons div.owl-next {
  position: absolute;
  right: 0;
  top: 20%;
}
.tabs-container .tab-pane .panel-body {
  border: 0;
  padding: 15px 0;
}
.box-department-xs{
  margin-bottom: 15px;
}
.box-department-xs > .cover-department{
  width: 100%;
}
.box-department-xs > .detail {
  display: table;
  text-align: center;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.77);
  color: #fff;
  padding: 5px 0;
  margin-top: -42px;
  position: relative;
  font-size: 0.9em;
  width: 100.5%;
  overflow: hidden;
}
.box-department-xs > .detail > .name-department {
  display: table-cell;
  vertical-align: middle;
}


@media (max-width: 1024px) {
  #owl-carousel-board-of-directors .owl-controls {
    top: 10%;
    font-size: 1.2em;
  }
  .box-portfolio > .box-portfolio-image{
    height: 300px;
  }
  .box-portfolio > .box-portfolio-image.image-col12{
    height: 300px;
  }
}

@media (max-width: 768px) {
  #owl-carousel-board-of-directors .owl-controls .owl-buttons div.owl-prev, #owl-carousel-board-of-directors .owl-controls .owl-buttons div.owl-next {
    top: 10%;
    font-size: 6em;
  }
  #owl-carousel-gallery .owl-controls .owl-buttons div.owl-prev, #owl-carousel-gallery .owl-controls .owl-buttons div.owl-next {
    top: 7%;
    font-size: 13em;
  }
}
@media (max-width: 767px) {
  .tabs-container .nav-tabs > li {
    margin-bottom: -5px;
  }
  .tabs-container .nav-tabs > li > a{
    padding: 9px;
  }
  .tabs-container .nav-tabs > li > a > h3 {
    font-size: 1em;
  }
  .tabs-container .nav-tabs {
    text-align: left;
  }
  .section-gallery, .section-board-of-directors, .section-portfolios{
    padding: 2.5em 15px;
  }
  #owl-carousel-board-of-directors .owl-controls {
    margin-top: 2%;
  }
  #owl-carousel-gallery .owl-controls .owl-buttons div.owl-prev, #owl-carousel-gallery .owl-controls .owl-buttons div.owl-next {
    top: 11%;
    font-size: 13em;
  }
  .box-portfolio > .box-portfolio-image{
    height: 250px;
  }
  .card.news {
    margin-bottom: 15px;
  }
}


