<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <base href="https://www.bu.ac.th/">
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta name='author' content='Bangkok University'>
  <title>Entrepreneurship-Bangkok University International</title>
  <!-- Open Graph -->
  <meta property='og:url' content='https://www.bu.ac.th/en/international-programs/entrepreneurship'>
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Entrepreneurship-Bangkok University International'>
  <meta property='og:description' content='Ignite your entrepreneurial spirit and gain professional skills needed to succeed.
•    Learn from a curriculum developed from our partnership with Babson College (USA), the No.1 institution for entrepreneurship education. 

•    Incubate your start-up and get thesupport needed for the future.

•    Prepare for the ever-changing global marketplace with our emphasis on risk management.'>
  <meta property='og:image' content='https://www.bu.ac.th/uploads/seo/20180625142702_UYKdFQYsAWQpzRq_9Oml3wQjihcfVpt.jpg'>
  <meta property='og:site_name' content='Bangkok University'>
  <!— Twitter —>
  <meta name='twitter:card' content='website'>
  <meta name='twitter:site' content='@Bangkok_BU'>
  <meta name='twitter:creator' content='@Bangkok_BU'>
  <meta name='twitter:title' content='Entrepreneurship-Bangkok University International'>
  <meta name='twitter:description' content='Ignite your entrepreneurial spirit and gain professional skills needed to succeed.
•    Learn from a curriculum developed from our partnership with Babson College (USA), the No.1 institution for entrepreneurship education. 

•    Incubate your start-up and get thesupport needed for the future.

•    Prepare for the ever-changing global marketplace with our emphasis on risk management.'>
      <link rel="stylesheet" href="./vendors/bootstrap-3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="./vendors/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./vendors/animate/css/animate.css">
      <link rel="stylesheet" href="./vendors/fonts/Karnvayla/stylesheet.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/ladda/ladda-themeless.min.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/sweetalert/sweetalert.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/style-main.css">
      <link rel="stylesheet" href="./vendors/hamburger-toggle/css/style.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.theme.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="./vendors/ionicons-2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="./assets/main/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/department/main/index.css">
      <link rel="stylesheet" href="./assets/faculty/css/department/main/inc_index.css">
      <link rel="stylesheet" href="./assets/faculty/css/main/inc_index.css">
        <link rel="shortcut icon" href="favicon.ico" />
          <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.2&appId=1120425418117270"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42914512-1', 'bu.ac.th');
  ga('send', 'pageview');
</script>
<!-- /Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBGBMXC');</script>
<!-- End Google Tag Manager -->
</head>
<body class="white-bg">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGBMXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="fb-root"></div>
  <div id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="logo-bu-horizontal">
        <a href="./">
          <picture>
            <source media="(min-width: 1920px)" srcset="./assets/images/logo-bu-white-horizontal.png">
            <img src="./assets/images/logoBU_w500.png" height="70px"alt="Bangkok University" style="width: auto;">
          </picture>
        </a>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div class="form-inline m-t-md">
          <ul class="list-inline pull-right no-margins">
            <li>
              <form class="" action="./en/search" method="get" autocomplete="off">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="Search..." value="">
                  <span class="input-group-btn">
                    <button class="btn btn-default no-rounds" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-menu-bg">
<img class="header-menu-bg-img" src="./assets/main/images/resize-bg-header2.png" >
</div>
<div id="menu-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default no-margins" id="bu-bootstrap-menu">
          <div class="container">
            <ul class="list-inline visible-xs  pull-right list-right">
              <li><a href="javascript:void()"; onclick="$('#collapse-main-search').toggle();" class="icon-search-small"><i class="fa fa-search"></i></a></li>
            </ul>
            <div class="navbar-header">
              <a class="btn-navbar visible-xs" id="nav-icon"><i class="fa fa-bars"></i></a>
              <a class="navbar-brand hidden-xs" href="./"><img src="./assets/main/images/icon-home.png"></a>
            </div>
                        <a href="http://admissionbui.bu.ac.th/Start/Login" class="btn btn-apply-now btn-rounds visible-xs" target="_blank">Apply Now</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav border-after">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Curriculum</a>
                  <div class="dropdown-menu full-width">
                                        <div class="row menu-box">
                      <div class="col-md-3 col-sm-3">
                        <a href="./th/curriculum/bachelors-degree" class="box box-1"><div class="text">Bachelor's Degree</div></a>
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <a href="./en/curriculum/international-programs" class="box box-2"><div class="text">International Programs</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/pre-degree" class="box box-8"><div class="text">Pre-degree</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./en/curriculum/bachelors-degree/tuition-fees" class="box box-3"><div class="text">Tuition & Fees</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./en/curriculum/bachelors-degree/scholarships" class="box box-4"><div class="text">Scholarship</div></a>
                      </div>
                    </div>
                    <div class="row menu-box">
                      <div class="col-sm-3">
                        <a href="./th/curriculum/masters-degree" class="box box-5"><div class="text">Master's Degree</div></a>
                      </div>
                      <div class="col-sm-3">
                        <a href="./th/curriculum/doctoral-degree" class="box box-6"><div class="text">Doctoral Degree</div></a>
                      </div>
                                            <div class="col-sm-3">
                        <a href="./th/buci" class="box box-7"><div class="text">Bangkok University Chinese International</div></a>
                      </div>
                      <div class="col-sm-3">
                          <a href="./th/short-courses" class="box box-8">
                              <div class="text">
                                  Short Courses                              </div>
                          </a>
                                                </div>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" onclick="$('#dropdown-menu-header .collapse').collapse('hide');" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Campus Life</a>
                  <div class="dropdown-menu full-width row bg-676e77" id="dropdown-menu-header">
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">Get to Know BU</h3>
                      <ul class="list-unstyled m-b-sm">
                                                <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000057').collapse('toggle');" ng-click="$event.stopPropagation();">Student Life <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000057">
                          <ul class="list-unstyled">
                                                        <li><a href="en/activities-clubs/sports">&emsp;<i class="fa fa-angle-right"></i> Sport/Club</a></li>
                            <li><a href="en/facilities">&emsp;<i class="fa fa-angle-right"></i> Facilities</a></li>
                                                                                                                  <li><a href="en/service-centers-en">&emsp;<i class="fa fa-angle-right"></i> Service Center</a></li>
                                                      </ul>
                        </li>
                        <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000139').collapse('toggle');" ng-click="$event.stopPropagation();">Arts & Culture <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000139">
                          <ul class="list-unstyled">
                            <li><a href="http://katin3.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> The Royal Kathin Ceremony</a></li>
                            <li><a href="http://museum.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> Southeast Asian Ceramics Museum</a></li>
                            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">&emsp;<i class="fa fa-angle-right"></i> Bangkok University Gallery</a></li>
                                                      </ul>
                        </li>
                        <li><a href="./en/excellence-center">Excellence Center</a></li>
                                              </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">About Us</h3>
                      <ul class="list-unstyled m-b-sm">
                          <li><a href="./en/about/history">BU History</a></li>
                                                <li><a href="./en/about/videos">Featured video</a></li>
                        <li><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000077').collapse('toggle');" ng-click="$event.stopPropagation();">Executives <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000077">
                          <ul class="list-unstyled">
                            <li><a href="./en/council-committees">&emsp;<i class="fa fa-angle-right"></i> Board of Trustees</a></li>
                            <li><a href="./en/executives">&emsp;<i class="fa fa-angle-right"></i> Executives</a></li>
                          </ul>
                        </li>
                        <li><a href="./en/partner-networks">Corporate Partner</a></li>
                                                  <li><a href="./th/alumni">BU Alumni</a></li>
                                                <!-- <li><a href="./en/bu-achievements">BU Achievements</a></li> -->
                        <li><a href="./en/about/downloads">Downloads</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">Who are you?</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./en/who-are-you/student/entrepreneurship">Student</a></li>
                        <li><a href="./en/who-are-you/parent">Parent</a></li>
                        <li><a href="./en/who-are-you/alumni">BU Alumni</a></li>
                        <li><a href="http://mybu.bu.ac.th" target="_blank">BU Staff</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">Contact us</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./en/contact">Contact Us</a></li>
                        <!-- <li><a href="./en/campus-map">Campus map</a></li> -->
                                                <li><a href="./en/visit-bu">Visit Bangkok University</a></li>
                        <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">Work with BU</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://admissionbui.bu.ac.th/Start/Login" class="btn btn-apply-now btn-rounds" target="_blank">Apply Now</a></li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="collapse-main-search">
            <form autocomplete="off" action="./ensearch" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search..." value="">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- End Modal -->      <div class="header-faculty">
      <div class="header-faculty-cover">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-faculty-logo animated fadeIn ">
                <a href="./en/international-programs">
                  <img src="./uploads/faculty/logo/EIVM16cC27wWkfk-white.png" 
                  class="" >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
                <div class="header-faculty-menu">
      <nav class="navbar navbar-faculty ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse-faculty-13" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                      </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-faculty-13">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Majors  <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu multi-level">
                                                                                                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Bachelor's Degree                                </a>
                                <ul class="dropdown-menu">
                                                                            <li>
                                            <a href="./en/international-programs/business-english">Business English                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/communication-strategy-ideation">Communication Strategy and Ideation                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/culinary-arts-and-design">Culinary Arts and Design                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/digital-media-design">Digital Media and Design                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/entrepreneurship">Entrepreneurship                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/innovative-media-production">Innovative Media Production                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/international-tourism-management">International Tourism and Hospitality Management                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/marketing">Marketing                                            </a>
                                        </li>
                                                                                                        </ul>
                            </li>
                                                                                                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Master's Degree                                </a>
                                <ul class="dropdown-menu">
                                                                            <li>
                                            <a href="./en/international-programs/master-mba">Master of Business Administration                                             </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/master-of-business-innovation">Master of Business Innovation                                             </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/master-of-communication-arts-in-global-communication">Master of Communication Arts Program in Global Communication                                             </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/master-of-engineering-in-electrical-computer-engineering">Master of Engineering in Electrical & Computer Engineering                                             </a>
                                        </li>
                                                                                                        </ul>
                            </li>
                                                                                                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Doctoral Degree                                </a>
                                <ul class="dropdown-menu">
                                                                            <li>
                                            <a href="./en/international-programs/d-electrical-electrical-computer-engineering">D.Eng. in Electrical and Computer Engineering                                             </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/phd-of-philosophy-communication-arts">Doctor of Philosophy in Communication Arts                                             </a>
                                        </li>
                                                                            <li>
                                            <a href="./en/international-programs/ph-d-in-knowledge-management-and-innovation-management">Doctor of Philosophy Program in Knowledge Management and Innovation Management                                             </a>
                                        </li>
                                                                                                        </ul>
                            </li>
                                            </ul>
                </li>
                              <li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About BUI <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                                                                      <li><a href="./en/international-programs/videos">Featured Video</a></li>
                                                                                  <li><a href="./en/international-programs/gallery">Gallery</a></li>
                                                            
                                        
                                          <li><a href="./en/international-programs/professors">Professors</a> </li>
                                            <li><a href="./en/international-programs/dual-degree">Dual Degree</a></li>
                                            <li><a href="./en/international-programs/student-activities">Student Activities</a></li>
                                                              <li><a href="./en/international-programs/alumni">Alumni</a></li>
                                                                              </ul>
                </li>
                <li class="">
                  <a href="./en/international-programs/tuition-fees/2564/1">Tuition fees</a>
                </li>
                <!-- <li class="">
                <a href="./en/international-programs/news">News and Activities</a>
              </li> -->
              <!-- <li><a href="./en/international-programs/activities">Calendar</a></li> -->
              <li><a href="./en/who-are-you/student">For students</a></li>
                          </ul>
          </div>
          <!-- start nav master -->
                    <!-- end nav master -->
        </div>
      </nav>

    </div>
      </div>
  <section id="body">
  <script>
  </script>
  <div id="index" ng-controller="index" ng-init="init();">
    <div class="parallax">
      <div class="container bg__white">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="./en"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="./en/international-programs">Bangkok University International</a></li>
                            <li><a href="./en/curriculum/bachelors-degree">Bachelor's Degree</a></a></li>
              <li class="active">Entrepreneurship</li>
            </ol>
          </div>
        </div>

        <div class="row">

          <div class="col-md-8">
            <h1 class="m-t-xxs m-b-sm">Entrepreneurship</h1>
            <div class="tabs-container">
              
              <div class="tab-content">
                                  <div id="tab-0" class="tab-pane active">
                    <div class="box-department-detail">
                      <p>&nbsp;</p>

<p>&bull;&nbsp;&nbsp; &nbsp;Learn from a curriculum developed from our partnership with Babson College (USA), the No.1 institution for entrepreneurship education.&nbsp;</p>

<p>&bull;&nbsp;&nbsp; &nbsp;Incubate your start-up and get thesupport needed for the future.</p>

<p>&bull;&nbsp;&nbsp; &nbsp;Prepare for the ever-changing global marketplace with our emphasis on risk management.</p>

<p>&nbsp;</p>

<p><strong>Job Opportunities&nbsp;</strong></p>

<ul>
	<li>Start-up Entrepreneur&nbsp;</li>
	<li>Family-owned&nbsp;</li>
	<li>Company Successor</li>
	<li>Business Analyst</li>
	<li>Investment Analyst</li>
	<li>First Line Manager&nbsp;</li>
	<li>Marketing Professional</li>
	<li>Business Development Professional&nbsp;</li>
</ul>
                    </div>
                                          <div class="box-department-quote">
                        <div class="top"><i class="fa fa-quote-left"></i></div>
                        <div class="text">Ignite your entrepreneurial spirit and gain professional skills needed to succeed.</div>
                        <div class="bottom"><i class="fa fa-quote-right"></i></div>
                      </div>
                                      </div>
                              </div>

            </div>

                          <!-- ค่าเทอมปริญญาตรี -->
                                                    <div class="box-department-fee" >
                      <div style="margin-bottom: 4px; ">
                        First term                        <span class="number">
                                                                                                                                    56,930                                                  </span>
                        <!-- <span class="hidden-xs">&emsp;</span> -->
                                                <br class="visible-xs" />
                        Total Fees                        <span class="number">
                                                      525,930                                                  </span>
                      </div>
                      <span class="text-center" style="font-size:14px;">Tuition fee for the academic year 2022                                              </span>
                    </div>
                                                  
       
      
              <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="videoWrapper m-b-lg">
              <iframe  id="iframe-box-video" src="https://www.youtube.com/embed/XsWounz4Lwg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      
    </div>

    <div class="col-md-4">

      <div class="m-t-md m-b-xs">
        <div class="pull-right m-t-n-sm">
          <div class="fb-like" data-href="https://www.bu.ac.th/en/international-programs/entrepreneurship" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
        <br />
      </div>

      <div class="row">

        <div class="col-sm-6 col-md-12">

                    <div class="ibox border-left-right border-bottom m-b-md">
            <div class="ibox-title text-center header-degree-title">
              <h3 class="no-margins">DEGREE TITLE</h3>
            </div>
            <div class="ibox-content p-xs text-center">
              <h4 class="m-t-xs m-b-xs">Bachelor of Business Administration Program in Entrepreneurship</h4>
              <p class="m-b-xs text-muted">Bachelor of Business Administration Program in Entrepreneurship</p>
            </div>
          </div>
        
        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content p-xs text-center">
            <h4 class="m-t-xs m-b-xs">Bangkok University International</h4>
                      </div>
        </div>

        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content p-xs text-center">
            <h4 class="m-t-xs m-b-xs">Entrepreneurship</h4>
            <p class="m-b-xs text-muted">Entrepreneurship</p>
          </div>
        </div>

        <br />

      </div>

      <div class="col-sm-6 col-md-12">

        <div class="visible-sm">

          <!-- แผนการศึกษา -->
                    <dl>
            <dt><h4 class="m-b-xs"><i class="fa fa-file-o"></i>
                                Degree plan                              </h4></dt>
              <dd class="m-l-md">
                <a href="./uploads/faculty/degree_plan/degree-plan-entrepreneurship-1626660418.pdf" target="_blank">Downloads</a>
              </dd>
            </dl>
                    <!-- รายวิชา -->
                    <dl>
            <dt><h4 class="m-b-xs"><i class="fa fa-file-o"></i> Curriculum</h4></dt>
            <dd class="m-l-md">
              <a href="./uploads/faculty/curriculum/curriculum-entrepreneurship-1626404918.pdf" target="_blank">Downloads</a>
            </dd>
          </dl>
                <!-- ทุนการศึกษา -->
                  <dl>
            <dt><h4 class="m-b-xs"><i class="fa fa-ticket"></i> Scholarship available.</h4></dt>
            <dd class="m-l-md">
              SLF.            </dd>
          </dl>
                  <!-- คุณสมบัติ -->
                  <dl>
            <dt><h4 class="m-b-xs"><i class="fa fa-graduation-cap"></i> Qualification</h4></dt>
            <dd class="m-l-md">
              <ul class="list-inline no-margins">
                                  <li>M.6 or Equivalent, </li>
                                  <li>Vocational, </li>
                                  <li>Diploma (Can't be transferred)</li>
                              </ul>
            </dd>
          </dl>
                    </div>

    <div class="row  hidden-sm">
      <!-- แผนการศึกษา -->
            <div class="col-xs-6">
        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content text-center">
            <div class="box-department-left">
              <div class="icon">
                <i class="fa fa-file-o"></i>
              </div>
              <div class="name">
                                    Degree plan                                  </div>
                <div class="detail">
                  <a href="./uploads/faculty/degree_plan/degree-plan-entrepreneurship-1626660418.pdf" target="_blank">Downloads</a>

                </div>
              </div>
            </div>
          </div>
        </div>
            <!-- รายวิชา -->
            <div class="col-xs-6">
        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content text-center">
            <div class="box-department-left">
              <div class="icon">
                <i class="fa fa-file-o"></i>
              </div>
              <div class="name">
                Curriculum              </div>
              <div class="detail">
                <a href="./uploads/faculty/curriculum/curriculum-entrepreneurship-1626404918.pdf" target="_blank">Downloads</a>
                <div class="m-b-xxs m-t-xxs">
                  <!-- <br/> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- ทุนการศึกษา -->
          <div class="col-xs-6">
        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content text-center">
            <div class="box-department-left">
              <div class="icon">
                <i class="fa fa-ticket"></i>
              </div>
              <div class="name">
                Scholarship available.              </div>
              <div class="detail">
                SLF.              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- คุณสมบัติ -->
          <div class="col-xs-6">
        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content text-center">
            <div class="box-department-left">
              <div class="icon">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <div class="name">
                Qualification              </div>
              <div class="detail">
                <ul class="list-inline no-margins">
                                      <li>M.6 or Equivalent, </li>
                                      <li>Vocational, </li>
                                      <li>Diploma (Can't be transferred)</li>
                                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</div>
</div>
</div>
</div>
</div>

  <!-- <div class="bg__background section-news-activity" style="background-image: url(./assets/faculty/images/bg-faculty-box-gray.jpg);">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="page-header white">
            <div class="pull-right m-t-sm hidden-xs">
              <a href="./en/international-programs/news"><i class="fa fa-list"></i> View all news and activities.</a>
            </div>
            <h2 class="text-white">
              News and Activities            </h2>
          </div>
        </div>
      </div>

      <div class="row">
              </div>

      <div class="row visible-xs">
        <div class="col-xs-12 text-center">
          <a href="./en/international-programs/news"><i class="fa fa-list"></i> View all news and activities.</a>
        </div>
      </div>

    </div>
  </div> -->

<!-- Section of News -->
<!-- inc news -->
<!-- inc end news -->
</div>

  <div class="bg__white">
    <div class="container m-t-lg m-b-lg">
      <div class="row">
        <div class="col-xs-12">
          <div class="header-yellow">
            Gallery          </div>
          <div class="text-center m-b-md">
            <div class="visible-sm visible-xs">
              <a href="/en/gallery" class="btn btn-default"><i class="fa fa-image"></i> View all<span class='hidden-xs'> images</span></a>
              <a href="" class="btn btn-default"><i class="fa fa-camera"></i> 360° view</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="owl-carousel owl-theme" id="owl-carousel-gallery">
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20180606220124_E34saqSMViHWHLd_ySpwUrjQBqU43hZ.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20180708150834_knna67ngwRRtfJ0_7wvjljCNUSXU5D4.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20191129115042_MKYZpZMGiDGaNZW_N0dvwlzvJYHIFd1.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20191129133138_mSe1d8OzCpVRhFB_BLQnMptBYLHOnrh.jpg">
              </div>
                      </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          <a href="./en/international-programs/entrepreneurship/gallery" class="btn-view-all">
            <div class="icon"><i class="fa fa-image"></i></div>
            <div class="name">View all<span class='hidden-xs'> images</span></div>
          </a>
          <a href="http://virtualtour.bu.ac.th/" target="_blank" class="btn-view-360">
            <div class="icon"><i class="fa fa-camera"></i></div>
            <div class="name">360° view</div>
          </a>
        </div>
      </div>
    </div>
  </div>


<div class="bg__white section-alumni">
    <div class="container m-t-lg m-b-lg">
        <!-- inc voice student  -->
                <!-- inc end voice student -->
        <!-- digiday alumni -->
                <!-- digiday end alumni -->
        <!-- inc linkedin -->
                  <!-- inc end linkedin -->
    </div>
</div>
</section>

<div class="modal inmodal" id="modal-view-qualifications">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <h4 class="modal-title">Qualification</h4>
      </div>
      <div class="modal-body">
              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    let firstData = JSON.parse(atob('eyJzdHVkZW50IjpbXSwiYWx1bW5pIjpbXX0='));
    let testingData = '$2y$10$FLENthnfveaVKNhpH0eXPuBezjKn5HmU7xRD7r5p9Q5X1d6d6K5Pu';
</script>              <div class="footer-faculty" id="footerFaculty">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="fdetail">
                <h2 class="no-margins"><i class="fa fa-street-view"></i> Bangkok University International</h2>
                <div class="m-l-sm m-r-sm m-t-md">
                  <div class="address m-b-md">
                    Bangkok University International <br />
<br />
Email buiao@bu.ac.th (International Affairs Office)                    <ul class="list-inline m-t-sm m-b-xxs">
                                              <li><strong><i class="fa fa-phone"></i> Phone :</strong> <span class="text-muted">02 407 3888 ext 1582-1588, 1609-1610</span></li>
                                                                    <li><strong><i class="fa fa-fax"></i> Fax :</strong> <span class="text-muted">02 407 3999</span></li>
                                          </ul>
                  </div>
                  <ul class="list-inline">
                                          <li><a href="https://facebook.com/BU.International" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
                                                                                                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <script type="text/javascript">
  var background_header = "./uploads/faculty/banner/20200121161145_P2NODNKMZEESJYX_VNZQD5FNYXSIS51.jpg";
  var background_footer = "./uploads/faculty/contact/20170915153322_s0Vdj5MSXnzbBe1_QDWMgaFyGWvhtzR.jpg";
  </script>
  <footer>
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-bu-footer">
              <img src="./assets/main/images/bu-logo-footer.png" alt="Bangkok University">
            </div>
          </div>
        </div>
        <div class="row visible-md visible-lg">
  <div class="col-lg-3 col-lg-offset-0 col-md-2 col-md-offset-1">
    <h3 class="m-b-md">About Us</h3>
    <ul class="list-unstyled">
      <li><a href="./en/about">About Bangkok University</a></li>
      <li><a href="http://katin3.bu.ac.th/" target="_blank">The Royal Kathin Ceremony</a></li>
      <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">Bangkok Poll</a></li>
      <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
      <li><a href="http://dspace.bu.ac.th/" target="_blank">Research</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">Contact us</h3>
    <ul class="list-unstyled">
      <li><a href="./en/contact">Contact Us</a></li>
      <li><a href="./en/campus-map">Campus map</a></li>
      <li><a href="./en/rental-space">Event Spaces Rental</a></li>
      <li><a href="./en/visit-bu">Visit Bangkok University</a></li>
      <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">Work with BU</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">Quick Link</h3>
    <ul class="list-unstyled">
      <li><a href="./en/curriculum/bachelors-degree/tuition-fees">Tuition & Fees</a></li>
      <li><a href="./en/curriculum/bachelors-degree/scholarships">Scholarships</a></li>
      <li><a href="./en/academic-calendar">Academic Calendar</a></li>
      <li><a href="./en/who-are-you/student/std/bachelor">BU Students</a></li>
      <li><a href="./en/cookies">Cookie Policy</a></li>
      <li><a href="./en/privacypolicy">Privacy Policy</a></li>
      <li><a href="./en/generalnotice">General Data Privacy Notice</a></li>
      <!-- <li><a href="./en/curriculum">School</a></li> -->
    </ul>
  </div>
  <div class="col-lg-3 col-md-5" ng-controller="news-letter" ng-init="init();">
    <h3 class="m-b-md">Subscribe</h3>
    <!-- <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Your email address" ng-model="f_newsletter.email">
      </div>
      <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">Submit</button>
    </form> -->
    <ul class="list-inline">
      <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
      <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
      <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
      <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
    </ul>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <!-- <div class="col-xs-12 text-center" ng-controller="news-letter" ng-init="init();">
    <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <label for="" class="text-white">Subscribe</label>
        <div class="input-group">
          <input type="text" class="form-control text-dark" placeholder="Your email address" ng-model="f_newsletter.email">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">Submit</button>
          </span>
        </div>
      </div>
    </form>
  </div> -->
  <div class="col-xs-12">
    <div class="ibox ibox-transparent no-margins">
      <div class="ibox-title no-padding">
        <h5>Shortcut menu</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="panel-group" id="menu-footer">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseOne" aria-expanded="false" class="">About Us<i class="fa fa-plus pull-right"></i></a>
              </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./en/about">About Bangkok University</a></li>
                  <li><a href="http://katin3.bu.ac.th/" target="_blank">The Royal Kathin Ceremony</a></li>
                  <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">Bangkok Poll</a></li>
                  <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
                  <li><a href="http://dspace.bu.ac.th/" target="_blank">Research</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseTwo" class="collapsed" aria-expanded="false">Contact us<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./en/contact">Contact Us</a></li>
                  <li><a href="./en/campus-map">Campus map</a></li>
                  <li><a href="./en/rental-space">Event Spaces Rental</a></li>
                  <li><a href="./en/visit-bu">Visit Bangkok University</a></li>
                  <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">Work with BU</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseThree" class="collapsed" aria-expanded="false">Quick Link<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./en/curriculum/bachelors-degree/tuition-fees">Tuition & Fees</a></li>
                  <li><a href="./en/curriculum/bachelors-degree/scholarships">Scholarships</a></li>
                  <li><a href="./en/academic-calendar">Academic Calendar</a></li>
                  <li><a href="./en/who-are-you/student/std/bachelor">BU Students</a></li>
                  <li><a href="./en/cookies">Cookie Policy</a></li>
                  <li><a href="./en/privacypolicy">Privacy Policy</a></li>
                  <li><a href="./en/generalnotice">General Data Privacy Notice</a></li>
                  <!-- <li><a href="./en/curriculum">School</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseFour" class="collapsed" aria-expanded="false">Follow us<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-inline">
                  <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
                  <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
                  <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
                  <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>Copyright © 1962 - 2021 Bangkok University. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<style>@media only screen and (max-width: 767px) {#menu-header{max-height: 50px; overflow-y:hidden; }}</style>
<div id="overlay-menu">
  <ul class="list-inline pull-right list-close-overlay-menu">
    <li><a href="javascript:void(0);" class="close-overlay-menu"><i class="fa fa-times"></i> Close</a></li>
  </ul>
  <div class="panel-group text-center" id="menu-nav">
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a href="./en">Home</a>
        </h5>
      </div>
    </div>
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavOne" aria-expanded="true" class="">Curriculum</a>
        </h5>
      </div>
      <div id="menuNavOne" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
                    <ul class="list-unstyled no-margins">
            <li><a href="./th/curriculum/bachelors-degree">Bachelor's Degree</a></li>
            <li><a href="./th/curriculum/masters-degree">Master's Degree</a></li>
            <li><a href="./th/curriculum/doctoral-degree">Doctoral Degree</a></li>
            <li><a href="./en/curriculum/international-programs">International Programs</a></li>
            <li><a href="./th/pre-degree">Pre-Degree</a></li>
            <!-- <li><a href="./en/curriculum/certificate">Training Program</a></li> -->
            <li><a href="./en/curriculum/bachelors-degree/tuition-fees">Tuition & Fees</a></li>
            <li><a href="./en/curriculum/bachelors-degree/scholarships">Scholarship</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Know BU -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavKnowBu" class="collapsed" aria-expanded="false">Campus Life</a>
        </h4>
      </div>
      <div id="menuNavKnowBu" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="en/corporate-news">Corporate Communication</a></li>
            <li><a href="en/bu-magazine">BU Story</a></li>
            <!-- <li><a href="en/news-clipping">News Clippings</a></li> -->
            <li><a href="en/accommodation">Accommodation</a></li>
            <li><a href="en/activities-clubs/sports">Sport/Club</a></li>
            <li><a href="en/facilities">Facilities</a></li>
                        <li><a href="en/service-centers">Service Center</a></li>
            <li><a href="http://katin3.bu.ac.th" target="_blank">The Royal Kathin Ceremony</a></li>
            <li><a href="http://museum.bu.ac.th" target="_blank">Southeast Asian Ceramics Museum</a></li>
            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">Bangkok University Gallery</a></li>
                      </ul>
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavAboutUs" class="collapsed" aria-expanded="false">About Us</a>
        </h4>
      </div>
      <div id="menuNavAboutUs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./en/about/history">BU History</a></li>
            <li><a href="./en/about/vision-mission">Vision and Mission</a></li>
            <li><a href="./en/about/videos">Featured video</a></li>
            <li><a href="./en/council-committees">Board of Trustees</a></li>
            <li><a href="./en/executives">Executives</a></li>
            <li><a href="./en/partner-networks">Corporate Partner</a></li>
            <li><a href="./en/alumni">BU Alumni</a></li>
            <!-- <li><a href="./en/bu-achievements">BU Achievements</a></li> -->
            <li><a href="./en/about/downloads">Downloads</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Who are you -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavWhoAre" class="collapsed" aria-expanded="false">Who are you?</a>
        </h4>
      </div>
      <div id="menuNavWhoAre" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./en/who-are-you/student">Student</a></li>
            <li><a href="./en/who-are-you/parent">Parent</a></li>
            <li><a href="./en/who-are-you/alumni">BU Alumni</a></li>
            <li><a href="http://mybu.bu.ac.th" target="_blank">BU Staff</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Contact -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavContact" class="collapsed" aria-expanded="false">Contact us</a>
        </h4>
      </div>
      <div id="menuNavContact" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./en/contact">Contact Us</a></li>
            <li><a href="./en/campus-map">Campus map</a></li>
            <li><a href="./en/rental-space">Event Spaces Rental</a></li>
            <li><a href="./en/visit-bu">Visit Bangkok University</a></li>
            <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">Work with BU</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
<script type="text/javascript">var language = 'en';</script>
  <script src="./vendors/jquery/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="./vendors/bigbag/1.3/plugins/jquery-ui/jquery-ui.js" charset="utf-8"></script>
  <script src="./vendors/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular-sanitize.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/spin.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.jquery.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/sweetalert/sweetalert.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/jasny/jasny-bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/backstretch/jquery.backstretch.js" charset="utf-8"></script>
  <script src="./vendors/grid-a-licious/jquery.grid-a-licious.min.js" charset="utf-8"></script>
  <script src="./vendors/sticky-kit/jquery.sticky-kit.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/inspinia-main.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/pace/pace.min.js" charset="utf-8"></script>
  <script src="./vendors/hamburger-toggle/js/script.min.js" charset="utf-8"></script>
  <script src="./vendors/owl.carousel/owl-carousel/owl.carousel.min.js" charset="utf-8"></script>
  <script src="./assets/main/js/app.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/faculty.js" charset="utf-8"></script>
  <script src="./vendors/scrollreveal/scrollreveal.min.js" charset="utf-8"></script>
  <script src="./vendors/pinterest-style-responsive/newWaterfall.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/department/index.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/department/inc_index.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/bui-register.js" charset="utf-8"></script>
</body>
</html>
