<!DOCTYPE html>
<html ng-app="app" lang="th">
<head>
  <base href="https://www.bu.ac.th/">
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta name='author' content='Bangkok University'>
  <title>10 วิชาน่าเรียน ทัวร์แบบไหนไม่ตกเทรนด์ สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม - คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว มหาวิทยาลัยกรุงเทพ</title>
  <!-- Open Graph -->
  <meta property='og:url' content='https://www.bu.ac.th/th/humanities/news/view/643/10%20%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2%E0%B8%99%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%20%E0%B8%97%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B9%84%E0%B8%AB%E0%B8%99%E0%B9%84%E0%B8%A1%E0%B9%88%E0%B8%95%E0%B8%81%E0%B9%80%E0%B8%97%E0%B8%A3%E0%B8%99%E0%B8%94%E0%B9%8C%20%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%88%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%97%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%20%E0%B8%99%E0%B8%B4%E0%B8%97%E0%B8%A3%E0%B8%A3%E0%B8%A8%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B8%E0%B8%A1'>
  <meta property='og:type' content='website'>
  <meta property='og:title' content='10 วิชาน่าเรียน ทัวร์แบบไหนไม่ตกเทรนด์ สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม - คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:image' content='https://www.bu.ac.th/uploads/seo/default.png'>
  <meta property='og:site_name' content='Bangkok University'>
  <!— Twitter —>
  <meta name='twitter:card' content='website'>
  <meta name='twitter:site' content='@Bangkok_BU'>
  <meta name='twitter:creator' content='@Bangkok_BU'>
  <meta name='twitter:title' content='10 วิชาน่าเรียน ทัวร์แบบไหนไม่ตกเทรนด์ สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม - คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว มหาวิทยาลัยกรุงเทพ'>
  <meta name='twitter:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
      <link rel="stylesheet" href="./vendors/bootstrap-3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="./vendors/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./vendors/animate/css/animate.css">
      <link rel="stylesheet" href="./vendors/fonts/Karnvayla/stylesheet.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/ladda/ladda-themeless.min.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/sweetalert/sweetalert.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/style-main.css">
      <link rel="stylesheet" href="./vendors/hamburger-toggle/css/style.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.theme.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="./vendors/ionicons-2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="./assets/main/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/news/news.css">
        <link rel="shortcut icon" href="favicon.ico" />
    <meta property="og:type" content="article">
<meta property="og:url" content="https://www.bu.ac.th/th/humanities/news/view/643/10%20%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2%E0%B8%99%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%20%E0%B8%97%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B9%84%E0%B8%AB%E0%B8%99%E0%B9%84%E0%B8%A1%E0%B9%88%E0%B8%95%E0%B8%81%E0%B9%80%E0%B8%97%E0%B8%A3%E0%B8%99%E0%B8%94%E0%B9%8C%20%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%88%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%97%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%20%E0%B8%99%E0%B8%B4%E0%B8%97%E0%B8%A3%E0%B8%A3%E0%B8%A8%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B8%E0%B8%A1">
<meta property="og:title" content="10 วิชาน่าเรียน ทัวร์แบบไหนไม่ตกเทรนด์ สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม - คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว มหาวิทยาลัยกรุงเทพ">
<meta property="og:description" content="เที่ยวยังไงให้เป็นอาชีพแบบฟินสุดๆ สำหรับน้องๆ #DEK64 ที่ชอบออกทริปเดินทางต้องมาเรียนที่สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว มหาวิทยาลัยกรุงเทพ เรียนรู้ทุกขั้นตอนของการจัดการท่องเที่ยว สามารถทำอาชีพใหม่ๆ ที่หลากหลายในสายงานท่องเที่ยว รับประสบการณ์แบบจัดเต็มทั้งทฤษฎีและปฏิบัติกับบริษัททัวร์จำลอง BU Travel พร้อมอัปเดต 10 วิชาน่าเรียน ต้อนรับน้องๆ ที่สนใจสาขานี้ สายท่องเที่ยวตัวจริงต้องไปดูกันเลย">
<meta property="og:image" content="https://www.bu.ac.th/uploads/news/20210301114059_zxnfsaybzt_6itvcle1pl.jpg">
      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.2&appId=1120425418117270"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42914512-1', 'bu.ac.th');
  ga('send', 'pageview');
</script>
<!-- /Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBGBMXC');</script>
<!-- End Google Tag Manager -->
</head>
<body class="white-bg">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGBMXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="fb-root"></div>
  <div id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="logo-bu-horizontal">
        <a href="./">
          <picture>
            <source media="(min-width: 1920px)" srcset="./assets/images/logo-bu-white-horizontal.png">
            <img src="./assets/images/logoBU_w500.png" height="70px"alt="มหาวิทยาลัยกรุงเทพ" style="width: auto;">
          </picture>
        </a>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div class="form-inline m-t-md">
          <ul class="list-inline pull-right no-margins">
            <li>
              <form class="" action="./th/search" method="get" autocomplete="off">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                  <span class="input-group-btn">
                    <button class="btn btn-default no-rounds" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-menu-bg">
<img class="header-menu-bg-img" src="./assets/main/images/resize-bg-header2.png" >
</div>
<div id="menu-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default no-margins" id="bu-bootstrap-menu">
          <div class="container">
            <ul class="list-inline visible-xs  pull-right list-right">
              <li><a href="javascript:void()"; onclick="$('#collapse-main-search').toggle();" class="icon-search-small"><i class="fa fa-search"></i></a></li>
            </ul>
            <div class="navbar-header">
              <a class="btn-navbar visible-xs" id="nav-icon"><i class="fa fa-bars"></i></a>
              <a class="navbar-brand hidden-xs" href="./"><img src="./assets/main/images/icon-home.png"></a>
            </div>
                        <a href="http://admissiononline.bu.ac.th/" class="btn btn-apply-now btn-rounds visible-xs" target="_blank">สมัครเรียน</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav border-after">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">หลักสูตร</a>
                  <div class="dropdown-menu full-width">
                                        <div class="row menu-box">
                      <div class="col-md-3 col-sm-3">
                        <a href="./th/curriculum/bachelors-degree" class="box box-1"><div class="text">ปริญญาตรี</div></a>
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <a href="./en/curriculum/international-programs" class="box box-2"><div class="text">International Programs</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/pre-degree" class="box box-8"><div class="text">Pre-degree</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/tuition-fees" class="box box-3"><div class="text">ค่าเล่าเรียน</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/scholarships" class="box box-4"><div class="text">ทุนการศึกษา</div></a>
                      </div>
                    </div>
                    <div class="row menu-box">
                      <div class="col-sm-3">
                        <a href="./th/curriculum/masters-degree" class="box box-5"><div class="text">ปริญญาโท</div></a>
                      </div>
                      <div class="col-sm-3">
                        <a href="./th/curriculum/doctoral-degree" class="box box-6"><div class="text">ปริญญาเอก</div></a>
                      </div>
                                            <div class="col-sm-3">
                        <a href="./th/buci" class="box box-7"><div class="text">หลักสูตรนานาชาติจีน</div></a>
                      </div>
                      <div class="col-sm-3">
                          <a href="./th/short-courses" class="box box-8">
                              <div class="text">
                                  อบรม/ประกาศนียบัตร                              </div>
                          </a>
                                                </div>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" onclick="$('#dropdown-menu-header .collapse').collapse('hide');" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
                  <div class="dropdown-menu full-width row bg-676e77" id="dropdown-menu-header">
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">รู้จัก ม.กรุงเทพ</h3>
                      <ul class="list-unstyled m-b-sm">
                                                  <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000052').collapse('toggle');" ng-click="$event.stopPropagation();">ข่าวสาร <i class="fa fa-angle-down"></i></a></li>
                          <li class="collapse" id="collapseMain_00000052">
                            <ul class="list-unstyled">
                              <li><a href="th/corporate-news">&emsp;<i class="fa fa-angle-right"></i> Corporate News</a></li>
                              <li><a href="th/bu-magazine">&emsp;<i class="fa fa-angle-right"></i> BU Story</a></li>
                              <li><a href="th/news-clipping">&emsp;<i class="fa fa-angle-right"></i> News Clippings</a></li>
                            </ul>
                          </li>
                                                <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000057').collapse('toggle');" ng-click="$event.stopPropagation();">ชีวิตนักศึกษา <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000057">
                          <ul class="list-unstyled">
                                                          <li><a href="th/accommodation">&emsp;<i class="fa fa-angle-right"></i> หอพักนักศึกษา</a></li>
                                                        <li><a href="th/activities-clubs/sports">&emsp;<i class="fa fa-angle-right"></i> กีฬา/สโมสร/ชมรม</a></li>
                            <li><a href="th/facilities">&emsp;<i class="fa fa-angle-right"></i> สิ่งอำนวยความสะดวก</a></li>
                                                                                      <li><a href="th/service-centers">&emsp;<i class="fa fa-angle-right"></i> ศูนย์บริการ</a></li>
                                                                                  </ul>
                        </li>
                        <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000139').collapse('toggle');" ng-click="$event.stopPropagation();">ศิลปวัฒนธรรม <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000139">
                          <ul class="list-unstyled">
                            <li><a href="http://katin3.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> กฐินพระราชทาน</a></li>
                            <li><a href="http://museum.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
                            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">&emsp;<i class="fa fa-angle-right"></i> หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                            
                                                      </ul>
                        </li>
                        <li><a href="./th/excellence-center">ศูนย์แห่งความเป็นเลิศ</a></li>
                                                  <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
                          <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                                              </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">เกี่ยวกับมหาวิทยาลัย</h3>
                      <ul class="list-unstyled m-b-sm">
                          <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
                                                  <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
                                                <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
                        <li><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000077').collapse('toggle');" ng-click="$event.stopPropagation();">คณะผู้บริหาร <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000077">
                          <ul class="list-unstyled">
                            <li><a href="./th/council-committees">&emsp;<i class="fa fa-angle-right"></i> สภามหาวิทยาลัย</a></li>
                            <li><a href="./th/executives">&emsp;<i class="fa fa-angle-right"></i> คณะผู้บริหาร</a></li>
                          </ul>
                        </li>
                        <li><a href="./th/partner-networks">พันธมิตร</a></li>
                                                  <li><a href="./th/alumni">ศิษย์เก่า</a></li>
                                                <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
                        <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">คุณคือใคร?</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/who-are-you/student/news">นักศึกษา</a></li>
                        <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
                        <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
                        <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">ติดต่อเรา</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/contact">ติดต่อเรา</a></li>
                        <!-- <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li> -->
                                                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                                                <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                        <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://admissiononline.bu.ac.th/" class="btn btn-apply-now btn-rounds" target="_blank">สมัครเรียน</a></li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="collapse-main-search">
            <form autocomplete="off" action="./thsearch" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- End Modal -->      <div class="header-faculty">
      <div class="header-faculty-cover">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-faculty-logo animated fadeIn ">
                <a href="./th/humanities">
                  <img src="./uploads/faculty/logo/5LAGtBlPXA6Ey4D-white.png" 
                  class="" >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
                <div class="header-faculty-menu">
      <nav class="navbar navbar-faculty ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse-faculty-7" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                      </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-faculty-7">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        สาขาวิชา  <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu multi-level">
                                                                                                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    ปริญญาตรี                                </a>
                                <ul class="dropdown-menu">
                                                                            <li>
                                            <a href="./th/humanities/tourism-and-mice-management">สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./th/humanities/hotel-management">สาขาวิชาการจัดการการโรงแรม                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./th/humanities/airline-business-management">สาขาวิชาการจัดการธุรกิจสายการบิน                                            </a>
                                        </li>
                                                                            <li>
                                            <a href="./th/humanities/english">สาขาวิชาภาษาอังกฤษ                                            </a>
                                        </li>
                                                                                                                                                        <li><a href="./en/international-programs/international-tourism-management">International Tourism and Hospitality Management</a></li>
                                                                                                                    <li><a href="./en/international-programs/culinary-arts-and-design">Culinary Arts and Design</a></li>
                                                                    </ul>
                            </li>
                                                                                                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    ปริญญาโท                                </a>
                                <ul class="dropdown-menu">
                                                                            <li>
                                            <a href="./th/humanities/master-of-arts-in-innovative-tourism-hospitality-management">สาขาวิชานวัตกรรมการจัดการการท่องเที่ยวและการบริการ                                            </a>
                                        </li>
                                                                                                        </ul>
                            </li>
                                            </ul>
                </li>
                              <li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">เกี่ยวกับคณะ <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                                                            <li>
                                    <a href="./th/humanities/history">
                                        ประวัติคณะ                                    </a>
                                </li>
                                <li>
                                    <a href="./th/humanities/vision-mission">
                                        ปณิธานและพันธกิจ                                    </a>
                                </li>
                                                                      <li><a href="./th/humanities/videos">วิดีโอแนะนำ</a></li>
                                                              <li><a href="./th/humanities/executives">คณะผู้บริหาร</a></li>
                                                              <li><a href="./th/humanities/gallery">แกลลอรี่</a></li>
                                                              <li><a href="./th/humanities/partner-networks">พันธมิตร</a></li>
                                                              <li><a href="./th/humanities/internships">การฝึกงานและสหกิจศึกษา</a></li>
                    
                                        
                                                              <li><a href="./th/humanities/alumni">ศิษย์เก่า</a></li>
                                                                              </ul>
                </li>
                <li class="">
                  <a href="./th/humanities/tuition-fees/2564/">ค่าเล่าเรียน</a>
                </li>
                <!-- <li class="active">
                <a href="./th/humanities/news">ข่าวสารและกิจกรรม</a>
              </li> -->
              <!-- <li><a href="./th/humanities/activities">ปฏิทินกิจกรรม</a></li> -->
              <li><a href="./th/who-are-you/student">สำหรับนักศึกษา</a></li>
                          </ul>
          </div>
          <!-- start nav master -->
                    <!-- end nav master -->
        </div>
      </nav>

    </div>
      </div>
  <section id="body">
  <div >

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <ol class="breadcrumb">
            <li><a href="./th"><i class="fa fa-home"></i> หน้าหลัก</a></li>
            <li><a href="./th/humanities">คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว</a></li>
            <li><a href="./th/humanities/news">ข่าวสารและกิจกรรม</a></li>
            <li class="active">10 วิชาน่าเรียน ทัวร์แบบไหนไม่ตกเทรนด์ สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม</li>
          </ol>
          <h1>
            <div class="pull-right m-t-n-sm">
              <div class="fb-like" data-href="https://www.bu.ac.th/th/humanities/news/view/643/10%20%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2%E0%B8%99%E0%B9%88%E0%B8%B2%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%20%E0%B8%97%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B9%8C%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B9%84%E0%B8%AB%E0%B8%99%E0%B9%84%E0%B8%A1%E0%B9%88%E0%B8%95%E0%B8%81%E0%B9%80%E0%B8%97%E0%B8%A3%E0%B8%99%E0%B8%94%E0%B9%8C%20%E0%B8%AA%E0%B8%B2%E0%B8%82%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%88%E0%B8%B1%E0%B8%94%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%97%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%20%E0%B8%99%E0%B8%B4%E0%B8%97%E0%B8%A3%E0%B8%A3%E0%B8%A8%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%81%E0%B8%A5%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%8A%E0%B8%B8%E0%B8%A1" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
            </div>
            10 วิชาน่าเรียน ทัวร์แบบไหนไม่ตกเทรนด์ สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="box-detail">
            <p>&nbsp;</p>

<p><strong><span style="font-size:16px;">สายเที่ยวต้องไม่พลาด&nbsp;เรียนรู้สู่มืออาชีพในอุตสาหกรรมการท่องเที่ยวยุคใหม่ที่เกิดขึ้นมากมาย เพื่อความพร้อมที่ธุรกิจท่องเที่ยวจะกลับมาอีกครั้ง เที่ยวยังไงให้เป็นอาชีพแบบฟินสุดๆ สำหรับ&nbsp;DEK64 ที่ชอบออกทริปเดินทางต้องมาเรียนที่สาขาการจัดการการท่องเที่ยว นิทรรศการและการประชุม คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว มหาวิทยาลัยกรุงเทพ เรียนรู้ทุกขั้นตอนของการจัดการท่องเที่ยว สามารถทำอาชีพใหม่ๆ ที่หลากหลายในสายงานท่องเที่ยว รับประสบการณ์แบบจัดเต็มทั้งทฤษฎีและปฏิบัติกับบริษัททัวร์จำลอง BU Travel พร้อมอัปเดต 10 วิชาน่าเรียน ต้อนรับคนที่สนใจสาขานี้ สายท่องเที่ยวตัวจริงต้องไปดูกันเลย</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614570634_3PMDC3RVX0.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">ขายทัวร์ให้โดนใจ ทํายังไงไม่โดนเท&nbsp;ทำให้คนมาเที่ยวได้ก็ต้องมีเทคนิคการขาย และการสร้างกลยุทธ์ เพื่อดึงดูดนักท่องเที่ยว ซึ่งวิชานี้จะสอนให้นักศึกษามีทักษะด้าน Digital Marketing ไปปรับใช้กับธุรกิจการท่องเที่ยว หรือโรงแรมที่พักให้คนสนใจและสร้างความได้เปรียบมากยิ่งขึ้น</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614570653_ZIB5PD7LBI.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">อัปสกิลให้คนในสายงานด้านการท่องเที่ยว เพราะนอกจากการท่องเที่ยวที่จะช่วยขับเคลื่อนเศรษฐกิจในประเทศแล้ว ยังมีส่วนสำคัญต่ออุตสาหกรรมการจัดนิทรรศการและการประชุมในอาเซียนด้วย น้องจะได้เรียนรู้และเตรียมพร้อมสำหรับการทำงานในวิชาชีพด้านการท่องเที่ยวในประชาคมอาเซียน รู้ไวไปไกลถึงอาเซียนแน่นอน</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614570887_ZTN2QFU8QD.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">วิชานี้บอกเลยว่าจะได้รู้ทุกซอกทุกมุมของประเทศอย่างแน่นอน&nbsp;สามารถเที่ยวทั่วไทยแบบไม่ใช้ Google Map เลยก็ว่าได้ เรียนลึกถึงภูมิศาสตร์ของประเทศไทยและของโลก ทั้งสภาพภูมิประเทศ ภูมิอากาศ ชาติพันธุ์ ระบบนิเวศและสิ่งแวดล้อม ว่าเกี่ยวอย่างไรกับการท่องเที่ยว รวมไปถึงได้รู้ถึงแหล่งท่องเที่ยวต่างๆ ที่สำคัญในไทยและต่างประเทศ เพื่อนำมาวางแผนจัดการนำเที่ยวอย่างมีประสิทธิภาพ เรียนวิชานี้เหมือนได้นั่งเครื่องบินเที่ยวรอบโลกเลย</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614570989_EBGADAJHSG.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">สร้างบริษัททัวร์ออนไลน์สไตล์ New Normal จะทำทัวร์ทั้งทีต้องเตรียมพร้อมกันซะหน่อย วิชานี้จะทำให้รู้จักการวางแผนธุรกิจจัดนำเที่ยว ทั้งในประเทศและต่างประเทศ การเขียนรายการนำเที่ยว การคิดราคา การแก้ไขปัญหาเฉพาะหน้าในระหว่างการนำเที่ยว วิธีและขั้นตอนการจัดนำเที่ยว รวมถึงไปฝึกปฏิบัติในสถานที่ท่องเที่ยวจริง เรียนวิชานี้ไปรับรองว่าบริษัททัวร์ของนักศึกษาจะสามารถปังและดังแน่นอน</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614571019_XID5XWSCXP.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">จัดงานยังไงให้ปังปุริเย่&nbsp;นอกจากสายท่องเที่ยวแล้ว ใครที่ชื่นชอบการจัดงาน ในวิชานี้จะได้เรียนเกี่ยวกับการบริหารการจัดงานในรูปแบบต่างๆ ทั้งงานประชุม สัมมนา นิทรรศการ งานแสดงสินค้า งานจัดเลี้ยงในสถานที่และนอกสถานที่ การติดต่อลูกค้า ตลอดจนแนวโน้มที่จะมีผลกระทบของธุรกิจรับจัดงานในอนาคต และบทบาทหน้าที่สำคัญของ Event Management Company (EMC)</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614571070_DMLLBS78OA.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">เป็นเจ้าของบริษัททัวร์แบบไหนให้ไม่ตกเทรนด์ ในวิชานี้จะได้เรียนตั้งแต่การบริหารจัดการ การวางแผน การจัดทำแผนธุรกิจ การคำนวณต้นทุน กำไรผลประกอบการ ธุรกิจการจัดนิทรรศการและการประชุม และแนวทางการบริหารความเสี่ยงในวิกฤติ รวมถึงใครที่อยากเป็นเจ้าของบริษัททัวร์ มีทักษะการเป็นผู้ประกอบการแบบเต็มตัวอีกด้วย</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614571100_5LTV73HOHA.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">เป็น &ldquo;ไกด์&rdquo; นำเที่ยวแบบไหนให้ปลอดภัยในยุค New Normal วิชานี้จะสอนให้ได้รู้ลึกรู้จริงเกี่ยวกับอาชีพไกด์หรือมัคคุเทศก์นั่นเองค่ะ ทั้งทักษะการเป็นผู้นำ จรรยาบรรณของไกด์ วางแผนและเตรียมการเดินทาง การรับเข้าและส่งออกนักท่องเที่ยว การนำชมสถานที่ท่องเที่ยวสำคัญต่างๆ การดูแลความปลอดภัยให้นักท่องเที่ยว รวมถึงนักศึกษาจะได้ฝึกปฏิบัติในสถานที่จริงอีกด้วย</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614571131_PGPHFO9G7L.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">สาย ฝ.ขอพาเที่ยว เชิญทางนี้ ใครที่อยากทำอาชีพไกด์ ทักษะภาษาอังกฤษถือว่าเป็นสิ่งที่สำคัญมากๆ เพราะมีความจำเป็นในการสื่อสารกับนักท่องเที่ยว ในวิชานี้อัดสกิลภาษาอังกฤษเน้นๆ ทั้ง 4 ทักษะ คือ การฟัง พูด อ่าน และเขียน รวมถึงศัพท์เทคนิคต่างๆ ที่เกี่ยวกับอาชีพไกด์ ไม่ว่าจะเป็นด้านศิลปะ วัฒนธรรม นาฏศิลป์ ดนตรี สถาปัตยกรรม เพื่อไปต่อยอดให้สามารถเป็นไกด์ที่นำชมสถานที่ท่องเที่ยวเป็นภาษาอังกฤษได้</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614571157_NQPPCJRFTC.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">สำหรับสายท่องเที่ยวแบบวิถีชุมชนที่จะได้สัมผัสคนในพื้นที่ วิชานี้จะได้เรียนเกี่ยวกับแนวคิด หลักการ องค์ประกอบของการท่องเที่ยวโดยชุมชน รวมไปถึงการวิเคราะห์พื้นที่ของชุมชนท่องเที่ยว เพื่อวางแผนจัดอีกทั้งยังช่วยพัฒนาการท่องเที่ยวให้ชุมชนเกิดความยั่งยืนและมีประสิทธิภาพมากที่สุด</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;"><img src="https://www.bu.ac.th/uploads/files/1614571179_JSFFSRAAF7.jpg" style="width: 100%" /></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:16px;">สายกินกับสายเที่ยวต้องไม่พลาดวิชานี้&nbsp;ใครจะคิดว่าการท่องเที่ยวสามารถไปด้วยกันการอาหารได้ นักศึกษาจะได้เรียนรู้ถึงหลักการ แนวคิด และรูปแบบประเภทของกิจกรรมการท่องเที่ยวเชิงอาหารที่รวมวัฒนธรรมเข้าด้วยกัน อาหารประจำชาติ ตลอดจนพฤติกรรมของกลุ่มเป้าหมาย เพื่อนำมาออกแบบร่วมกับโปรแกรมการท่องเที่ยวของเรา หรือจะเรียกว่า เที่ยวไปกินไปก็ได้</span></strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="row m-b-lg">
        <!-- <div class="col-md-4">
        <img src="./uploads/faculty/cover/default.png" alt="คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว" class="img-thumbnail">
      </div> -->
      <div class="col-md-12">
        <div class="row">
                    <div class="col-xs-12">
            <ul class="list-unstyled m-t-sm">
              <li class="m-b-xs"><i class="fa fa-pencil"></i> แหล่งที่มา: <span class="text-muted">คณะมนุษยศาสตร์และการจัดการการท่องเที่ยว</span></li>
              <li><i class="fa fa-clock-o"></i> อัพเดทล่าสุด : <span class="text-muted">22 สิงหาคม 2564, 07:33:44 น.</span></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
</section>
            <script type="text/javascript">
  var background_header = "./uploads/faculty/banner/20170918211831_rn4AuaQJ7JEKhFj_6pF2BEsPsysUOI4.jpg";
  var background_footer = "./uploads/faculty/contact/20170915152003_WqJCuu8o33Yye26_b7W8MrSSeZDCbuY.jpg";
  </script>
  <footer>
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-bu-footer">
              <img src="./assets/main/images/bu-logo-footer.png" alt="มหาวิทยาลัยกรุงเทพ">
            </div>
          </div>
        </div>
        <div class="row visible-md visible-lg">
  <div class="col-lg-3 col-lg-offset-0 col-md-2 col-md-offset-1">
    <h3 class="m-b-md">เกี่ยวกับมหาวิทยาลัย</h3>
    <ul class="list-unstyled">
      <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
      <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
      <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
      <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
      <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ติดต่อเรา</h3>
    <ul class="list-unstyled">
      <li><a href="./th/contact">ติดต่อเรา</a></li>
      <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
      <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
      <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
      <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ลิงก์ด่วน</h3>
    <ul class="list-unstyled">
      <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
      <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
      <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
      <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
      <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
      <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
      <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
      <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
    </ul>
  </div>
  <div class="col-lg-3 col-md-5" ng-controller="news-letter" ng-init="init();">
    <h3 class="m-b-md">รับข่าวสารจากเรา</h3>
    <!-- <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
      </div>
      <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
    </form> -->
    <ul class="list-inline">
      <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
      <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
      <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
      <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
    </ul>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <!-- <div class="col-xs-12 text-center" ng-controller="news-letter" ng-init="init();">
    <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <label for="" class="text-white">รับข่าวสารจากเรา</label>
        <div class="input-group">
          <input type="text" class="form-control text-dark" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
          </span>
        </div>
      </div>
    </form>
  </div> -->
  <div class="col-xs-12">
    <div class="ibox ibox-transparent no-margins">
      <div class="ibox-title no-padding">
        <h5>เมนูลัด</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="panel-group" id="menu-footer">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseOne" aria-expanded="false" class="">เกี่ยวกับมหาวิทยาลัย<i class="fa fa-plus pull-right"></i></a>
              </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
                  <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
                  <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
                  <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
                  <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseTwo" class="collapsed" aria-expanded="false">ติดต่อเรา<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/contact">ติดต่อเรา</a></li>
                  <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                  <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                  <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseThree" class="collapsed" aria-expanded="false">ลิงก์ด่วน<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
                  <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
                  <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
                  <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
                  <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
                  <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
                  <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
                  <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseFour" class="collapsed" aria-expanded="false">ติดตามเราได้ที่<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-inline">
                  <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
                  <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
                  <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
                  <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>Copyright © 1962 - 2021 Bangkok University. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<style>@media only screen and (max-width: 767px) {#menu-header{max-height: 50px; overflow-y:hidden; }}</style>
<div id="overlay-menu">
  <ul class="list-inline pull-right list-close-overlay-menu">
    <li><a href="javascript:void(0);" class="close-overlay-menu"><i class="fa fa-times"></i> ปิด</a></li>
  </ul>
  <div class="panel-group text-center" id="menu-nav">
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a href="./th">หน้าหลัก</a>
        </h5>
      </div>
    </div>
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavOne" aria-expanded="true" class="">หลักสูตร</a>
        </h5>
      </div>
      <div id="menuNavOne" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
                    <ul class="list-unstyled no-margins">
            <li><a href="./th/curriculum/bachelors-degree">ปริญญาตรี</a></li>
            <li><a href="./th/curriculum/masters-degree">ปริญญาโท</a></li>
            <li><a href="./th/curriculum/doctoral-degree">ปริญญาเอก</a></li>
            <li><a href="./en/curriculum/international-programs">International Programs</a></li>
            <li><a href="./th/pre-degree">Pre-Degree</a></li>
            <!-- <li><a href="./th/curriculum/certificate">อบรม/ประกาศนียบัตร</a></li> -->
            <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
            <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Know BU -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavKnowBu" class="collapsed" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavKnowBu" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="th/corporate-news">Corporate News</a></li>
            <li><a href="th/bu-magazine">BU Story</a></li>
            <!-- <li><a href="th/news-clipping">News Clippings</a></li> -->
            <li><a href="th/accommodation">หอพักนักศึกษา</a></li>
            <li><a href="th/activities-clubs/sports">กีฬา/สโมสร/ชมรม</a></li>
            <li><a href="th/facilities">สิ่งอำนวยความสะดวก</a></li>
                        <li><a href="th/service-centers">ศูนย์บริการ</a></li>
            <li><a href="http://katin3.bu.ac.th" target="_blank">กฐินพระราชทาน</a></li>
            <li><a href="http://museum.bu.ac.th" target="_blank">พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                          <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
              <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                      </ul>
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavAboutUs" class="collapsed" aria-expanded="false">เกี่ยวกับมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavAboutUs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
            <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
            <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
            <li><a href="./th/council-committees">สภามหาวิทยาลัย</a></li>
            <li><a href="./th/executives">คณะผู้บริหาร</a></li>
            <li><a href="./th/partner-networks">พันธมิตร</a></li>
            <li><a href="./th/alumni">ศิษย์เก่า</a></li>
            <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
            <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Who are you -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavWhoAre" class="collapsed" aria-expanded="false">คุณคือใคร?</a>
        </h4>
      </div>
      <div id="menuNavWhoAre" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/who-are-you/student">นักศึกษา</a></li>
            <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
            <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
            <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Contact -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavContact" class="collapsed" aria-expanded="false">ติดต่อเรา</a>
        </h4>
      </div>
      <div id="menuNavContact" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/contact">ติดต่อเรา</a></li>
            <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
            <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
            <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
            <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
<script type="text/javascript">var language = 'th';</script>
  <script src="./vendors/jquery/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="./vendors/bigbag/1.3/plugins/jquery-ui/jquery-ui.js" charset="utf-8"></script>
  <script src="./vendors/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular-sanitize.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/spin.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.jquery.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/sweetalert/sweetalert.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/jasny/jasny-bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/backstretch/jquery.backstretch.js" charset="utf-8"></script>
  <script src="./vendors/grid-a-licious/jquery.grid-a-licious.min.js" charset="utf-8"></script>
  <script src="./vendors/sticky-kit/jquery.sticky-kit.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/inspinia-main.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/pace/pace.min.js" charset="utf-8"></script>
  <script src="./vendors/hamburger-toggle/js/script.min.js" charset="utf-8"></script>
  <script src="./vendors/owl.carousel/owl-carousel/owl.carousel.min.js" charset="utf-8"></script>
  <script src="./assets/main/js/app.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/faculty.js" charset="utf-8"></script>
</body>
</html>
