.box-inter-right {
  display: block;
  margin-bottom: 25px;
  border: #e4e4e4 solid 1px;
  background-color: #fff;
}
.box-inter-right > img {
  width: 100%;
}
.box-inter-right > .name {
  padding: 10px;
  color: #494f5b;
  font-family: "karnvaylabold";
  font-size: 1.1em;
  borde-top: #e4e4e4 solid 1px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}
select option {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
