<!DOCTYPE html>
<html ng-app="app" lang="th">
<head>
  <base href="https://www.bu.ac.th/">
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta name='author' content='Bangkok University'>
  <title>การออกแบบคอนเสิร์ต - การออกแบบคอนเสิร์ต Pre-degree Program มหาวิทยาลัยกรุงเทพ</title>
  <!-- Open Graph -->
  <meta property='og:url' content='https://www.bu.ac.th/th/pre-degree/consert-design'>
  <meta property='og:type' content='website'>
  <meta property='og:title' content='การออกแบบคอนเสิร์ต - การออกแบบคอนเสิร์ต Pre-degree Program มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
  <meta property='og:image' content='https://www.bu.ac.th/uploads/seo/default.png'>
  <meta property='og:site_name' content='Bangkok University'>
  <!— Twitter —>
  <meta name='twitter:card' content='website'>
  <meta name='twitter:site' content='@Bangkok_BU'>
  <meta name='twitter:creator' content='@Bangkok_BU'>
  <meta name='twitter:title' content='การออกแบบคอนเสิร์ต - การออกแบบคอนเสิร์ต Pre-degree Program มหาวิทยาลัยกรุงเทพ'>
  <meta name='twitter:description' content='Bangkok University : มหาวิทยาลัยกรุงเทพ'>
      <link rel="stylesheet" href="./vendors/bootstrap-3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="./vendors/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./vendors/animate/css/animate.css">
      <link rel="stylesheet" href="./vendors/fonts/Karnvayla/stylesheet.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/ladda/ladda-themeless.min.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/plugins/sweetalert/sweetalert.css">
      <link rel="stylesheet" href="./vendors/inspinia_admin-v2.7/css/style-main.css">
      <link rel="stylesheet" href="./vendors/hamburger-toggle/css/style.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.theme.css">
      <link rel="stylesheet" href="./vendors/owl.carousel/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="./vendors/ionicons-2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="./assets/main/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/style.css">
      <link rel="stylesheet" href="./assets/faculty/css/department/main/index.css">
      <link rel="stylesheet" href="./assets/faculty/css/department/main/inc_index.css">
      <link rel="stylesheet" href="./assets/faculty/css/main/inc_index.css">
        <link rel="shortcut icon" href="favicon.ico" />
          <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.2&appId=1120425418117270"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42914512-1', 'bu.ac.th');
  ga('send', 'pageview');
</script>
<!-- /Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KBGBMXC');</script>
<!-- End Google Tag Manager -->
</head>
<body class="white-bg">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBGBMXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="fb-root"></div>
  <div id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12" id="logo-bu-horizontal">
        <a href="./">
          <picture>
            <source media="(min-width: 1920px)" srcset="./assets/images/logo-bu-white-horizontal.png">
            <img src="./assets/images/logoBU_w500.png" height="70px"alt="มหาวิทยาลัยกรุงเทพ" style="width: auto;">
          </picture>
        </a>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div class="form-inline m-t-md">
          <ul class="list-inline pull-right no-margins">
            <li>
              <form class="" action="./th/search" method="get" autocomplete="off">
                <div class="input-group">
                  <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                  <span class="input-group-btn">
                    <button class="btn btn-default no-rounds" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-menu-bg">
<img class="header-menu-bg-img" src="./assets/main/images/resize-bg-header2.png" >
</div>
<div id="menu-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-default no-margins" id="bu-bootstrap-menu">
          <div class="container">
            <ul class="list-inline visible-xs  pull-right list-right">
              <li><a href="javascript:void()"; onclick="$('#collapse-main-search').toggle();" class="icon-search-small"><i class="fa fa-search"></i></a></li>
            </ul>
            <div class="navbar-header">
              <a class="btn-navbar visible-xs" id="nav-icon"><i class="fa fa-bars"></i></a>
              <a class="navbar-brand hidden-xs" href="./"><img src="./assets/main/images/icon-home.png"></a>
            </div>
                        <a href="http://bit.ly/admission-bu-pre-degree" class="btn btn-apply-now btn-rounds visible-xs" target="_blank">สมัครเรียน</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav border-after">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">หลักสูตร</a>
                  <div class="dropdown-menu full-width">
                                        <div class="row menu-box">
                      <div class="col-md-3 col-sm-3">
                        <a href="./th/curriculum/bachelors-degree" class="box box-1"><div class="text">ปริญญาตรี</div></a>
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <a href="./en/curriculum/international-programs" class="box box-2"><div class="text">International Programs</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/pre-degree" class="box box-8"><div class="text">Pre-degree</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/tuition-fees" class="box box-3"><div class="text">ค่าเล่าเรียน</div></a>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <a href="./th/curriculum/bachelors-degree/scholarships" class="box box-4"><div class="text">ทุนการศึกษา</div></a>
                      </div>
                    </div>
                    <div class="row menu-box">
                      <div class="col-sm-3">
                        <a href="./th/curriculum/masters-degree" class="box box-5"><div class="text">ปริญญาโท</div></a>
                      </div>
                      <div class="col-sm-3">
                        <a href="./th/curriculum/doctoral-degree" class="box box-6"><div class="text">ปริญญาเอก</div></a>
                      </div>
                                            <div class="col-sm-3">
                        <a href="./th/buci" class="box box-7"><div class="text">หลักสูตรนานาชาติจีน</div></a>
                      </div>
                      <div class="col-sm-3">
                          <a href="./th/short-courses" class="box box-8">
                              <div class="text">
                                  อบรม/ประกาศนียบัตร                              </div>
                          </a>
                                                </div>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" onclick="$('#dropdown-menu-header .collapse').collapse('hide');" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
                  <div class="dropdown-menu full-width row bg-676e77" id="dropdown-menu-header">
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">รู้จัก ม.กรุงเทพ</h3>
                      <ul class="list-unstyled m-b-sm">
                                                  <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000052').collapse('toggle');" ng-click="$event.stopPropagation();">ข่าวสาร <i class="fa fa-angle-down"></i></a></li>
                          <li class="collapse" id="collapseMain_00000052">
                            <ul class="list-unstyled">
                              <li><a href="th/corporate-news">&emsp;<i class="fa fa-angle-right"></i> Corporate News</a></li>
                              <li><a href="th/bu-magazine">&emsp;<i class="fa fa-angle-right"></i> BU Story</a></li>
                              <li><a href="th/news-clipping">&emsp;<i class="fa fa-angle-right"></i> News Clippings</a></li>
                            </ul>
                          </li>
                                                <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000057').collapse('toggle');" ng-click="$event.stopPropagation();">ชีวิตนักศึกษา <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000057">
                          <ul class="list-unstyled">
                                                          <li><a href="th/accommodation">&emsp;<i class="fa fa-angle-right"></i> หอพักนักศึกษา</a></li>
                                                        <li><a href="th/activities-clubs/sports">&emsp;<i class="fa fa-angle-right"></i> กีฬา/สโมสร/ชมรม</a></li>
                            <li><a href="th/facilities">&emsp;<i class="fa fa-angle-right"></i> สิ่งอำนวยความสะดวก</a></li>
                                                                                      <li><a href="th/service-centers">&emsp;<i class="fa fa-angle-right"></i> ศูนย์บริการ</a></li>
                                                                                  </ul>
                        </li>
                        <li class="disabled"><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000139').collapse('toggle');" ng-click="$event.stopPropagation();">ศิลปวัฒนธรรม <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000139">
                          <ul class="list-unstyled">
                            <li><a href="http://katin3.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> กฐินพระราชทาน</a></li>
                            <li><a href="http://museum.bu.ac.th" target="_blank">&emsp;<i class="fa fa-angle-right"></i> พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
                            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">&emsp;<i class="fa fa-angle-right"></i> หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                            
                                                      </ul>
                        </li>
                        <li><a href="./th/excellence-center">ศูนย์แห่งความเป็นเลิศ</a></li>
                                                  <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
                          <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                                              </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">เกี่ยวกับมหาวิทยาลัย</h3>
                      <ul class="list-unstyled m-b-sm">
                          <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
                                                  <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
                                                <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
                        <li><a href="javascript:$('#dropdown-menu-header .collapse').collapse('hide');$('#collapseMain_00000077').collapse('toggle');" ng-click="$event.stopPropagation();">คณะผู้บริหาร <i class="fa fa-angle-down"></i></a></li>
                        <li class="collapse" id="collapseMain_00000077">
                          <ul class="list-unstyled">
                            <li><a href="./th/council-committees">&emsp;<i class="fa fa-angle-right"></i> สภามหาวิทยาลัย</a></li>
                            <li><a href="./th/executives">&emsp;<i class="fa fa-angle-right"></i> คณะผู้บริหาร</a></li>
                          </ul>
                        </li>
                        <li><a href="./th/partner-networks">พันธมิตร</a></li>
                                                  <li><a href="./th/alumni">ศิษย์เก่า</a></li>
                                                <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
                        <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">คุณคือใคร?</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/who-are-you/student/consert-design">นักศึกษา</a></li>
                        <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
                        <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
                        <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 no-padding border-right">
                      <h3 class="m-t-md m-l-sm m-b-sm">ติดต่อเรา</h3>
                      <ul class="list-unstyled m-b-sm">
                        <li><a href="./th/contact">ติดต่อเรา</a></li>
                        <!-- <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li> -->
                                                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                                                <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                        <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="http://bit.ly/admission-bu-pre-degree" class="btn btn-apply-now btn-rounds" target="_blank">สมัครเรียน</a></li>
              </ul>
            </div>
          </div>
          <div class="collapse" id="collapse-main-search">
            <form autocomplete="off" action="./thsearch" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="ค้นหา..." value="">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- End Modal -->      <div class="header-faculty">
      <div class="header-faculty-cover">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-faculty-logo animated fadeIn ">
                <a href="./th/pre-degree">
                  <img src="./uploads/faculty/logo/lMe2918iHh9U5G3-white.png" 
                  class="cover-faculty-pre-degree" >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
              </div>
  <section id="body">
    <script>
  </script>
  <div id="index" ng-controller="index" ng-init="init();">
    <div class="parallax">
      <div class="container bg__white">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li><a href="./th"><i class="fa fa-home"></i> หน้าหลัก</a></li>
              <li><a href="./th/pre-degree">Pre-degree Program</a></li>
                            <li class="active">การออกแบบคอนเสิร์ต</li>
            </ol>
          </div>
        </div>

        <div class="row">

          <div class="col-md-8">
            <h1 class="m-t-xxs m-b-sm">การออกแบบคอนเสิร์ต</h1>
            <div class="tabs-container">
              
              <div class="tab-content">
                                  <div id="tab-0" class="tab-pane active">
                    <div class="box-department-detail">
                      <p>&nbsp;</p>

<p><strong>โมดูล การออกแบบคอนเสิร์ต (Concert Design)</strong><br />
&nbsp;&nbsp; &nbsp;เรียนรู้กระบวนการออกแบบคอนเสิร์ตทั้งเบื้องหน้าและเบื้องหลัง พร้อมลงมือฝึกหัดปฏิบัติจริง ตั้งแต่ขั้นตอนวางแผนงานจนถึงขั้นตอนทำโปรดักชั่น ทั้งการทำความเข้าใจกลุ่มเป้าหมาย การคัดเลือกศิลปิน การออกแบบธีมงาน การเลือกสถานที่จัดงาน การตกแต่งสถานที่ และการออกแบบแสง สี เสียง รวมทั้งเรียนรู้กฎระเบียบและข้อบังคับต่างๆ ของการจัดคอนเสิร์ต ตลอดจนกลวิธีในการสร้างการมีส่วนร่วม (Engagement) ระหว่างศิลปินและผู้ชม ซึ่งจะสร้างความน่าประทับใจให้คอนเสิร์ต&nbsp;</p>

<p>&nbsp;</p>

<p><strong>จะได้เรียนอะไรบ้างในโมดูลนี้</strong></p>

<ul>
	<li>การวางแผนการจัดคอนเสิร์ต (Planning your event incl. team, budget, location, date)</li>
	<li>การออกแบบธีมงานคอนเสิร์ต (Concert Theme)</li>
	<li>การจัด Line Up ศิลปิน (Artist Line up and Artists&#39; needs on-site)</li>
	<li>แนวทางตกแต่งสถานที่ การออกแบบแสง สี เสียง (Light &amp; Sound System and Equipment)</li>
	<li>ข้อกำหนดที่ควรรู้ในการจัดงาน (Security &amp; Legal Matters)</li>
	<li>การกำหนดตารางการทำงาน (Timeline)</li>
</ul>

<p>&nbsp;</p>

<p><strong>ทักษะที่ผู้เรียนจะได้รับ</strong></p>

<ul>
	<li>ทักษะเบื้องต้นการจัดอีเว้นท์ทั้งในรูปแบบ Onsite และ Online</li>
	<li>ทักษะการใช้ความคิดสร้างสรรค์</li>
	<li>ทักษะการสร้างโปรดักชั่น</li>
	<li>ทักษะการเล่าเรื่อง (Storytelling)</li>
	<li>ทักษะการเขียนสคริปต์</li>
	<li>ทักษะการเป็นผู้ดำเนินรายการ</li>
	<li>ทักษะการบริหารจัดการ</li>
	<li>ทักษะการทำงานร่วมกัน</li>
</ul>

<p>&nbsp;</p>

<p><strong>Highlight ของโมดูล</strong><br />
พบกับการเรียนรู้จากผู้เชี่ยวชาญแห่งวงการอีเว้นท์และศิลปินตัวจริง ได้แก่&nbsp;</p>

<ul>
	<li>อาจารย์นิติ เอกปฐมศักดิ์<br />
	Creative Event Organizer และอาจารย์พิเศษสาขาวิชาการผลิตอีเว้นท์ฯ&nbsp;มหาวิทยาลัยกรุงเทพ</li>
	<li>อาจารย์ซีค์ จันทร์เปรม<br />
	Senior Creative Manager จากบริษัท Event Organizer ระดับแนวหน้าของประเทศ ผู้มอบประสบการณ์การสร้างสรรค์ผลงานในวงการอีเว้นท์มากกว่า 15 ปี</li>
	<li>ศิลปิน &ldquo;วง Three Man Down&rdquo; ที่จะมาฝึกปฏิบัติจัดงานคอนเสิร์ตให้ผู้เรียน&nbsp;</li>
</ul>

<p>และคณาจารย์ผู้มากประสบการณ์จากสาขาวิชาการผลิตอีเว้นท์ฯ&nbsp;มหาวิทยาลัยกรุงเทพ</p>

<p>&nbsp;</p>

<p><strong>ระยะเวลาในการเรียน</strong><br />
คอร์สการออกแบบคอนเสิร์ต เป็นการเรียนเชิงปฏิบัติการ ณ ห้องสตูดิโอ 3 คณะนิเทศศาสตร์ โดยมีระยะเวลาในการเรียน 15 ชั่วโมง<br />
จำนวน 2 วัน คือ<br />
วันเสาร์ที่ &nbsp;1 พฤษภาคม 2564 เวลา 08.30 &ndash; 17.00 น.<br />
ถึงวันอาทิตย์ที่ &nbsp;2 พฤษภาคม 2564 เวลา 08.30 &ndash; 17.00 น.<br />
<br />
&nbsp;</p>

<p><strong>คุณสมบัติของผู้สมัคร</strong><br />
กำลังศึกษาอยู่ชั้น ม.4 - ม.6 หรือเทียบเท่า</p>

<p>&nbsp;</p>

<p><strong>จำนวนหน่วยกิตที่สะสมใน Credit Bank เพื่อเข้าศึกษาต่อในมหาวิทยาลัยกรุงเทพ&nbsp;</strong><br />
สะสมได้ 1 หน่วยกิต</p>
                    </div>
                                          <div class="box-department-quote">
                        <div class="top"><i class="fa fa-quote-left"></i></div>
                        <div class="text">เรียนรู้การออกแบบคอนเสิร์ต กับตัวจริงด้านอีเว้นท์<br />
และฝึกปฏิบัติจัดคอนเสิร์ตจริง กับ Three Man Down</div>
                        <div class="bottom"><i class="fa fa-quote-right"></i></div>
                      </div>
                                      </div>
                              </div>

            </div>

                          <!-- ค่าเทอมปริญญาตรี -->
                                                    <div class="box-department-fee" >
                      <div style="margin-bottom: 4px; ">
                        ค่าใช้จ่าย                        <span class="number">
                            3,320                        </span>  
                        บาท                      
                      </div>
                    </div>
                                          
              <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="videoWrapper m-b-lg">
              <iframe  id="iframe-box-video" src="https://www.youtube.com/embed/xIWgEO6YeiY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      
    </div>

    <div class="col-md-4">

      <div class="m-t-md m-b-xs">
        <div class="pull-right m-t-n-sm">
          <div class="fb-like" data-href="https://www.bu.ac.th/th/pre-degree/consert-design" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
        <br />
      </div>

      <div class="row">

        <div class="col-sm-6 col-md-12">

        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-title text-center header-degree-title">
            <h3 class="no-margins">หลักสูตร</h3>
          </div>
          <div class="ibox-content p-xs text-center">
            <h4 class="m-t-xs m-b-xs">การออกแบบคอนเสิร์ต</h4>
            <p class="m-b-xs text-muted">Concert Design</p>
          </div>
        </div>
        <br />

      </div>

      <div class="col-sm-6 col-md-12">

        <div class="visible-sm">

          <!-- แผนการศึกษา -->
          <dl>
            <dt><h4 class="m-b-xs"><img src="./assets/images/people.png" width="18px">
                  รับจำนวนจำกัด              </h4></dt>
            </dl>
          <!-- รายวิชา -->
                  <!-- ทุนการศึกษา -->
                  <dl>
            <dt><h4 class="m-b-xs"><i class="fa fa-graduation-cap"></i> คุณสมบัติ</h4></dt>
            <dd class="m-l-md">
              <ul class="list-inline no-margins">
                <li>กำลังศึกษาอยู่ชั้น ม.4 - ม.6 หรือเทียบเท่า</li>
              </ul>
            </dd>
          </dl>
            </div>

    <div class="row  hidden-sm">
      <!-- แผนการศึกษา -->
      <div class="col-xs-6">
        <div class="ibox border-left-right border-bottom m-b-md" style="min-height: 161px;">
          <div class="ibox-content text-center">
            <div class="box-department-left">
              <div class="icon">
                <img src="./assets/images/people.png" width="39px">
              </div>
              <div class="name" style="margin-top: 3rem;">
                    รับจำนวนจำกัด                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- รายวิชา -->
          <!-- ทุนการศึกษา -->
    
    <!-- คุณสมบัติ -->
          <div class="col-xs-6">
        <div class="ibox border-left-right border-bottom m-b-md">
          <div class="ibox-content text-center">
            <div class="box-department-left">
              <div class="icon">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <div class="name">
                คุณสมบัติ              </div>
              <div class="detail">
                <ul class="list-inline no-margins">
                  <li>กำลังศึกษาอยู่ชั้น ม.4 - ม.6 หรือเทียบเท่า</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<!-- professor -->
  <div class="bg__transparent"style="background-image: url(./assets/faculty/images/bg-faculty-box-gray.jpg);">
    <div class="container section-board-of-directors">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header white">
            <h2 class="text-white">วิทยากรพิเศษ</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel owl-theme owl-dept-professor" id="owl-carousel-professor_special">
                                        <div class="item">
                <img src="./uploads/professors/20210331094026_sLkNp2rWisCEP3h_hsaCGbpHrPmFI0a.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">Three Man Down</div>
                  </div>
                </div>
              </div>
                                        <div class="item">
                <img src="./uploads/professors/20210331093921_S6wd9NAzglB4aBm_w3fCbd1hUIUVA9X.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">อ.นิติ เอกปฐมศักดิ์</div>
                  </div>
                </div>
              </div>
                                        <div class="item">
                <img src="./uploads/professors/20210331093752_U7dqPFTbze1itTe_9waVZSGHiEPGZlW.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">อ.ซีค์ จันทร์เปรม</div>
                  </div>
                </div>
              </div>
                      </div>
        </div>
      </div>

    </div>
  </div>
  <br><br>
  <div class="bg__transparent"style="background-image: url(./assets/faculty/images/bg-faculty-box-gray.jpg);">
    <div class="container section-board-of-directors">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header white">
            <h2 class="text-white">อาจารย์ผู้สอน</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="owl-carousel owl-theme owl-dept-professor" id="owl-carousel-professor">
                                        <div class="item">
                <img src="./uploads/professors/20210331102814_94c3cpQ8DYwp9zH_AFMEDRqz0JjrAU4.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">ผศ.ณัฐา ฉางชูโต</div>
                  </div>
                </div>
              </div>
                                        <div class="item">
                <img src="./uploads/professors/20210401142446_oqxN1MkeLn5QMne_hlh5uAWjp8Tq2Mo.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">อ.ธรรมยุทธิ์ จันทร์ทิพย์</div>
                  </div>
                </div>
              </div>
                                        <div class="item">
                <img src="./uploads/professors/20210401142525_Vg9sdhm78whF0Ah_BVVIWQOe5gFhvUP.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">อ.ภัคธีมา ไมยรัตน์</div>
                  </div>
                </div>
              </div>
                                        <div class="item">
                <img src="./uploads/professors/20210331102956_ctwsc1tULs3wcpY_kmDoBTiGrlb2esg.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">อ.ชัยวัฒน์ สุวัฒนรัตน์</div>
                  </div>
                </div>
              </div>
                                        <div class="item">
                <img src="./uploads/professors/20210401142555_C98sEPK5PMKIoXK_MivtGd4Vmba936q.jpg">
                <div class="description">
                  <div class="detail">
                    <div class="name">อ.สุนทร อักษรเชิดชู</div>
                  </div>
                </div>
              </div>
                      </div>
        </div>
      </div>

    </div>
  </div>
<!-- end professor -->
<!-- Section of News -->
<!-- inc news -->
<!-- inc end news -->
</div>

  <div class="bg__white">
    <div class="container m-t-lg m-b-lg">
      <div class="row">
        <div class="col-xs-12">
          <div class="header-yellow">
            แกลลอรี่          </div>
          <div class="text-center m-b-md">
            <div class="visible-sm visible-xs">
              <a href="/th/gallery" class="btn btn-default"><i class="fa fa-image"></i> ดูภาพทั้งหมด</a>
              <a href="" class="btn btn-default"><i class="fa fa-camera"></i> ดูแบบ 360°</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="owl-carousel owl-theme" id="owl-carousel-gallery">
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_p50j5f95BXTSe4Z_tNRCyc7lJpWB6XV.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331094957_8mJvL1Utu41mJQw_rHGhAv0CrwejB98.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_bveYWZ7YNVtnQYy_KT2sm1cMNkorr4n.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_Qn0RG66QcHN6A1a_zvYr8xDfTnFPZLN.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331094957_hhv0Ng1IKvMLSvC_pWj5eUBfw2LLmmU.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_FhQRmB3EsK70CZp_iNyv1WMnbSZ4hdv.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_wOvGJZyKAgYTLjM_iOflh9viGWbA2Uu.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_zTMqK92ONuzUvbU_UtItZJpL7BE7GWk.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_MfT0ePZmNNhha7f_JR8LkvMxhASG1jK.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160312_UCaVuR1BHeivkTx_us2tTa0xqTU6ITS.jpg">
              </div>
                                        <div class="item">
                <img src="./uploads/gallery/thumbnail/20210331160311_Qxb5LchQGtxRSpG_O8ddoglf6CSoeri.jpg">
              </div>
                      </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          <a href="./th/pre-degree/consert-design/gallery" class="btn-view-all">
            <div class="icon"><i class="fa fa-image"></i></div>
            <div class="name">ดูภาพทั้งหมด</div>
          </a>
          <a href="http://virtualtour.bu.ac.th/" target="_blank" class="btn-view-360">
            <div class="icon"><i class="fa fa-camera"></i></div>
            <div class="name">ดูแบบ 360°</div>
          </a>
        </div>
      </div>
    </div>
  </div>


<div class="bg__white section-alumni">
    <div class="container m-t-lg m-b-lg">
        <!-- inc voice student  -->
                <!-- inc end voice student -->
        <!-- digiday alumni -->
                <!-- digiday end alumni -->
        <!-- inc linkedin -->
                  <!-- inc end linkedin -->
    </div>
</div>
</section>

<div class="modal inmodal" id="modal-view-qualifications">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <h4 class="modal-title">คุณสมบัติ</h4>
      </div>
      <div class="modal-body">
        กำลังศึกษาอยู่ชั้น ม.4 - ม.6 หรือเทียบเท่า      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>

<script>
    let firstData = JSON.parse(atob('eyJzdHVkZW50IjpbXSwiYWx1bW5pIjpbXX0='));
    let testingData = '$2y$10$N3/Zae91SkDsor0ovUxLHOXACkgU72LxV9lMaTWH6oNBE4F9xLXKm';
</script>              <div class="footer-faculty" id="footerFaculty">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="fdetail">
                <h2 class="no-margins"><i class="fa fa-street-view"></i> Pre-degree Program - การออกแบบคอนเสิร์ต</h2>
                <div class="m-l-sm m-r-sm m-t-md">
                  <div class="address m-b-md">
                    สตูดิโอ 3 นิเทศศาสตร์คอมเพล็กซ์ มหาวิทยาลัยกรุงเทพ Main Campus <br />
เลขที่ 9/1 หมู่ 5 ถนนพหลโยธิน ต.คลองหนึ่ง อ.คลองหลวง ปทุมธานี 12120                    <ul class="list-inline m-t-sm m-b-xxs">
                                              <li><strong><i class="fa fa-phone"></i> โทรศัพท์ :</strong> <span class="text-muted">02-407-3888 ต่อ 2411-2417</span></li>
                                          </ul>
                  </div>
                  <!-- <ul class="list-inline">
                                                                                                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <script type="text/javascript">
  var background_header = "./uploads/faculty/banner/20210331151252_8M6PM8BIEXNNHAI_CKFTPMRKME8CZX0.jpg";
  var background_footer = "./uploads/faculty/contact/20170915150659_OELiTtYCWBfKmIX_YkvEowmqEfIysGM.jpg";
  </script>
  <footer>
    <div class="footer-link">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="logo-bu-footer">
              <img src="./assets/main/images/bu-logo-footer.png" alt="มหาวิทยาลัยกรุงเทพ">
            </div>
          </div>
        </div>
        <div class="row visible-md visible-lg">
  <div class="col-lg-3 col-lg-offset-0 col-md-2 col-md-offset-1">
    <h3 class="m-b-md">เกี่ยวกับมหาวิทยาลัย</h3>
    <ul class="list-unstyled">
      <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
      <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
      <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
      <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
      <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ติดต่อเรา</h3>
    <ul class="list-unstyled">
      <li><a href="./th/contact">ติดต่อเรา</a></li>
      <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
      <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
      <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
      <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-2">
    <h3 class="m-b-md">ลิงก์ด่วน</h3>
    <ul class="list-unstyled">
      <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
      <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
      <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
      <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
      <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
      <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
      <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
      <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
    </ul>
  </div>
  <div class="col-lg-3 col-md-5" ng-controller="news-letter" ng-init="init();">
    <h3 class="m-b-md">รับข่าวสารจากเรา</h3>
    <!-- <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
      </div>
      <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
    </form> -->
    <ul class="list-inline">
      <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
      <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
      <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
      <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
    </ul>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <!-- <div class="col-xs-12 text-center" ng-controller="news-letter" ng-init="init();">
    <form class="form-inline m-b-md" autocomplete="off" ng-submit="action_insert_newsletter();">
      <div class="form-group">
        <label for="" class="text-white">รับข่าวสารจากเรา</label>
        <div class="input-group">
          <input type="text" class="form-control text-dark" placeholder="อีเมลของคุณ" ng-model="f_newsletter.email">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-gray no-rounds ladda-button btn-insert-newsletter" data-style="zoom-in">ส่งข้อมูล</button>
          </span>
        </div>
      </div>
    </form>
  </div> -->
  <div class="col-xs-12">
    <div class="ibox ibox-transparent no-margins">
      <div class="ibox-title no-padding">
        <h5>เมนูลัด</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div class="panel-group" id="menu-footer">
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseOne" aria-expanded="false" class="">เกี่ยวกับมหาวิทยาลัย<i class="fa fa-plus pull-right"></i></a>
              </h5>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/about">เกี่ยวกับมหาวิทยาลัย</a></li>
                  <li><a href="http://katin3.bu.ac.th/" target="_blank">กฐินพระราชทาน</a></li>
                  <li><a href="http://bangkokpoll.bu.ac.th/" target="_blank">กรุงเทพโพลล์</a></li>
                  <li><a href="http://ebook.bu.ac.th/" target="_blank">E-Book@BU</a></li>
                  <li><a href="http://dspace.bu.ac.th/" target="_blank">งานวิจัย</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseTwo" class="collapsed" aria-expanded="false">ติดต่อเรา<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/contact">ติดต่อเรา</a></li>
                  <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
                  <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
                  <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
                  <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseThree" class="collapsed" aria-expanded="false">ลิงก์ด่วน<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-unstyled no-margins">
                  <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
                  <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
                  <li><a href="./th/academic-calendar">ปฏิทินการศึกษา</a></li>
                  <li><a href="./th/who-are-you/student/std/bachelor">นักศึกษาปัจจุบัน</a></li>
                  <li><a href="./th/cookies">นโยบายเกี่ยวกับการใช้งานคุกกี้</a></li>
                  <li><a href="./th/privacypolicy">การคุ้มครองข้อมูลส่วนบุคคล</a></li>
                  <li><a href="./th/generalnotice">ประกาศแจ้งเรื่องการคุ้มครองข้อมูลส่วนบุคคลกรณีทั่วไป (General Data Privacy Notice)</a></li>
                  <!-- <li><a href="./th/curriculum">คณะ</a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-transparent">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#menu-footer" href="#collapseFour" class="collapsed" aria-expanded="false">ติดตามเราได้ที่<i class="fa fa-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul class="list-inline">
                  <li><a href="https://facebook.com/bangkokuniversity" target="_blank"><img src="./assets/main/images/logo-facebook.png" alt="Facebook" class="icon-social"></a></li>
                  <li><a href="https://youtube.com/BangkokUniversity" target="_blank"><img src="./assets/main/images/logo-youtube.gif" alt="Youtube" class="icon-social"></a></li>
                  <li><a href="https://twitter.com/Bangkok_BU" target="_blank"><img src="./assets/main/images/logo-twitter.gif" alt="Twitter" class="icon-social"></a></li>
                  <li><a href="https://www.instagram.com/bangkok_bu" target="_blank"><img src="./assets/main/images/logo-instagram.gif" alt="Instagram" class="icon-social"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>Copyright © 1962 - 2021 Bangkok University. All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<style>@media only screen and (max-width: 767px) {#menu-header{max-height: 50px; overflow-y:hidden; }}</style>
<div id="overlay-menu">
  <ul class="list-inline pull-right list-close-overlay-menu">
    <li><a href="javascript:void(0);" class="close-overlay-menu"><i class="fa fa-times"></i> ปิด</a></li>
  </ul>
  <div class="panel-group text-center" id="menu-nav">
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a href="./th">หน้าหลัก</a>
        </h5>
      </div>
    </div>
    <div class="panel panel-transparent m-b-md">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavOne" aria-expanded="true" class="">หลักสูตร</a>
        </h5>
      </div>
      <div id="menuNavOne" class="panel-collapse collapse in" aria-expanded="true">
        <div class="panel-body">
                    <ul class="list-unstyled no-margins">
            <li><a href="./th/curriculum/bachelors-degree">ปริญญาตรี</a></li>
            <li><a href="./th/curriculum/masters-degree">ปริญญาโท</a></li>
            <li><a href="./th/curriculum/doctoral-degree">ปริญญาเอก</a></li>
            <li><a href="./en/curriculum/international-programs">International Programs</a></li>
            <li><a href="./th/pre-degree">Pre-Degree</a></li>
            <!-- <li><a href="./th/curriculum/certificate">อบรม/ประกาศนียบัตร</a></li> -->
            <li><a href="./th/curriculum/bachelors-degree/tuition-fees">ค่าเล่าเรียน</a></li>
            <li><a href="./th/curriculum/bachelors-degree/scholarships">ทุนการศึกษา</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Know BU -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavKnowBu" class="collapsed" aria-expanded="false">รอบรั้วมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavKnowBu" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="th/corporate-news">Corporate News</a></li>
            <li><a href="th/bu-magazine">BU Story</a></li>
            <!-- <li><a href="th/news-clipping">News Clippings</a></li> -->
            <li><a href="th/accommodation">หอพักนักศึกษา</a></li>
            <li><a href="th/activities-clubs/sports">กีฬา/สโมสร/ชมรม</a></li>
            <li><a href="th/facilities">สิ่งอำนวยความสะดวก</a></li>
                        <li><a href="th/service-centers">ศูนย์บริการ</a></li>
            <li><a href="http://katin3.bu.ac.th" target="_blank">กฐินพระราชทาน</a></li>
            <li><a href="http://museum.bu.ac.th" target="_blank">พิพิธภัณฑ์สถานเครื่องถ้วยเอเชียตะวันออกเฉียงใต้</a></li>
            <li><a href="https://fb.com/bangkokuniversitygallery" target="_blank">หอศิลป์ มหาวิทยาลัยกรุงเทพ</a></li>
                          <li><a href="./th/voices-from-students">เสียงจากนักศึกษา</a></li>
              <li><a href="./th/voices-from-alumni">เสียงจากรุ่นพี่</a></li>
                      </ul>
        </div>
      </div>
    </div>
    <!-- About Us -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavAboutUs" class="collapsed" aria-expanded="false">เกี่ยวกับมหาวิทยาลัย</a>
        </h4>
      </div>
      <div id="menuNavAboutUs" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/about/history">ประวัติมหาวิทยาลัยกรุงเทพ</a></li>
            <li><a href="./th/about/vision-mission">วิสัยทัศน์และพันธกิจ</a></li>
            <li><a href="./th/about/videos">วิดีโอแนะนำ</a></li>
            <li><a href="./th/council-committees">สภามหาวิทยาลัย</a></li>
            <li><a href="./th/executives">คณะผู้บริหาร</a></li>
            <li><a href="./th/partner-networks">พันธมิตร</a></li>
            <li><a href="./th/alumni">ศิษย์เก่า</a></li>
            <!-- <li><a href="./th/bu-achievements">ไฮไลท์ผลงาน</a></li> -->
            <li><a href="./th/about/downloads">ดาวน์โหลด</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Who are you -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavWhoAre" class="collapsed" aria-expanded="false">คุณคือใคร?</a>
        </h4>
      </div>
      <div id="menuNavWhoAre" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/who-are-you/student">นักศึกษา</a></li>
            <li><a href="./th/who-are-you/parent">ผู้ปกครอง</a></li>
            <li><a href="./th/who-are-you/alumni">ศิษย์เก่า</a></li>
            <li><a href="http://mybu.bu.ac.th" target="_blank">บุคลากร</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Contact -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#menu-nav" href="#menuNavContact" class="collapsed" aria-expanded="false">ติดต่อเรา</a>
        </h4>
      </div>
      <div id="menuNavContact" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">
          <ul class="list-unstyled no-margins">
            <li><a href="./th/contact">ติดต่อเรา</a></li>
            <li><a href="./th/campus-map">แผนที่ภายในมหาวิทยาลัย</a></li>
            <li><a href="./th/rental-space">ติดต่อเช่าสถานที่</a></li>
            <li><a href="./th/visit-bu">ติดต่อเพื่อเยี่ยมชมมหาวิทยาลัย</a></li>
            <li><a href=" http://hr.bu.ac.th/web/recruit/Default.aspx" target="_blank">ร่วมงานกับ BU</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
<script type="text/javascript">var language = 'th';</script>
  <script src="./vendors/jquery/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="./vendors/bigbag/1.3/plugins/jquery-ui/jquery-ui.js" charset="utf-8"></script>
  <script src="./vendors/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular.min.js" charset="utf-8"></script>
  <script src="./vendors/angular-1.5.0/angular-sanitize.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/spin.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/ladda/ladda.jquery.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/sweetalert/sweetalert.min.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/jasny/jasny-bootstrap.min.js" charset="utf-8"></script>
  <script src="./vendors/backstretch/jquery.backstretch.js" charset="utf-8"></script>
  <script src="./vendors/grid-a-licious/jquery.grid-a-licious.min.js" charset="utf-8"></script>
  <script src="./vendors/sticky-kit/jquery.sticky-kit.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/inspinia-main.js" charset="utf-8"></script>
  <script src="./vendors/inspinia_admin-v2.7/js/plugins/pace/pace.min.js" charset="utf-8"></script>
  <script src="./vendors/hamburger-toggle/js/script.min.js" charset="utf-8"></script>
  <script src="./vendors/owl.carousel/owl-carousel/owl.carousel.min.js" charset="utf-8"></script>
  <script src="./assets/main/js/app.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/faculty.js" charset="utf-8"></script>
  <script src="./vendors/scrollreveal/scrollreveal.min.js" charset="utf-8"></script>
  <script src="./vendors/pinterest-style-responsive/newWaterfall.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/department/index.js" charset="utf-8"></script>
  <script src="./assets/faculty/js/department/inc_index.js" charset="utf-8"></script>
</body>
</html>
