.template-1 {
  margin-bottom: 3em;
}
.template-1 .header {
  background-image: url(../../../../assets/main/images/news-clipping/bg-header-template-1.png);
  height: 140px;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding-left: 22%;
  padding-top: 30px;
  margin-bottom: 2em;
}
.template-1 .body {

}
.template-1 .body .product-desc {
  padding: 10px;
  text-align: center;
}
.template-1 .body .product-name {
  color: #000;
  height: 46px;
  overflow-y: hidden;
}
.template-1 .body .publish{
  color: #494f5b;
}
.template-2 {
  background-color: #3d3d3d;
  color: #fff;
  padding: 2em;
  margin-bottom: 1em;
}
.template-2 .header {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.template-2 .header h2 {
  margin: 0;
}
.template-2 .body .product-box, .template-2 .body .product-box:hover, .template-2 .body .product-box:focus  {
  padding: 0;
  border: 0;
}
.template-2 .body .ibox-content {
  background-color: transparent;
}
.template-2 .body .product-desc {
  padding: 10px;
  text-align: center;
}
.template-2 .body .product-name {
  color: #fff;
  height: 46px;
  overflow-y: hidden;
}
.template-2 .body .publish{
  color: #fff;
}
.hr-footer {
  border: 0;
  border-top: 1px #e7eaec solid;
  margin: 0;
}
.hot-news {
  margin-bottom: 2em;
}
#owl-carousel-hotnews .item img{
  width: 100%;
}
.owl-theme .owl-controls .owl-buttons div {
  font-size: 7em;
  background: none;
  color: rgb(73, 79, 91);
  opacity: 0.8;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  position: absolute;
  left: 0;
  top: 28%;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  position: absolute;
  right: 0;
  top: 28%;
}
#owl-carousel-hotnews .item .box-name {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(26, 23, 27, 0.7);
  color: white;
  padding: 35px;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
}
@media (max-width: 1199px) {
  .template-1 .header {
    padding-top: 20px;
    height: 115px;
  }
  .template-2 .body .product-imitation {
    padding: 76px 0;
  }
}
@media (max-width: 768px) {
  .template-1 .header {
    height: 88px;
    padding-top: 6px;
  }
  .template-1 .body .product-imitation {
    padding: 60px 0;
  }
  .template-2 .body .product-imitation {
    padding: 56px 0;
  }
}
@media (max-width: 767px) {
  .template-1 .header {
    padding-top: 15px;
    height: 48px;
    margin-bottom: 1em;
  }
  .template-1 .header h2 {
    font-size: 1em;
    margin-top: 0;
  }
  .template-1 .body .product-imitation {
    padding: 50px 0;
  }
  .template-1 .body .product-desc {
    padding: 0;
    padding-top: 6px;
  }
  .template-1 .body .product-box {
    padding: 0;
    border: 0;
  }
  .template-1 .body .product-name {
    font-size: 13px;
    height: 35px;
  }
  .template-2 {
    padding: 1em;
  }
  .template-2 .header h2 {
    font-size: 1em;
  }
  .template-2 .body .product-imitation {
    padding: 43px 0;
  }
  .template-2 .body .product-name {
    font-size: 13px;
    height: 35px;
  }
  .template-2 .body .product-desc {
    padding: 0px;
    padding-top: 7px;
  }
  #owl-carousel-hotnews .item .box-name {
    padding: 20px;
    font-size: 1em;
  }
  .owl-theme .owl-controls .owl-buttons div.owl-prev {
    top: 10%;
  }
  .owl-theme .owl-controls .owl-buttons div.owl-next {
    top: 10%;
  }
}
@media (max-width: 375px) {
  .template-1 .header {
    padding-top: 11px;
  }
  .template-1 .body .product-imitation {
    padding: 43px 0;
  }
  .template-2 .body .product-imitation {
    padding: 36px 0;
  }
}
@media (max-width: 320px) {
  .template-1 .body .product-imitation {
    padding: 36px 0;
  }
  .template-1 .header {
    padding-top: 8px;
  }
  .template-2 .body .product-imitation {
    padding: 32px 0;
  }
}
